{% extends 'base.html' %}

{% load thumbnail %}

{% block content_head %}
  <div>{{ good.get_title }}</div>
  <div class="b-breadcrumbs">
    <a href="{% url "home" %}">Главная</a> /
    <a href='{{ item_type.get_url }}'>{{ item_type.main_title }}</a>
  </div>
{% endblock %}

{% block content %}
  <div class="b-catalog">
    <aside class="b-catalog__left">
      {% include 'catalog_menu.html' %}
    </aside>
    <div class="b-catalog__content">
      {% for info in info_list %}
        <div class="b-productinfo">
          <div class="b-productinfo__head">
            {{ info.article.get_title }}
          </div>
          <div class="b-productinfo__text">
            {% if info.article.image %}
              {% thumbnail info.article.image '385x290' crop="center" as im %}
                <a href="{{ im.url }}" class="b-productinfo__image fancybox">
                  <img src="{{ im.url }}" alt="">
                </a>
              {% endthumbnail %}
            {% endif %}
            {{ info.article.get_description|safe }}
            <div class="i-clear"></div>
            <a href="{{ info.article.get_url }}" class="b-productinfo__button">Подробнее</a>
            <div class="i-clear"></div>
            {% if info.must_know %}
              <div class="b-productinfo__cat">
                <p>Это важно знать!</p>
                <ul class="b-productinfo__cat__list">
                  {% for must_know_article in info.must_know.article.all %}
                    <li>
                      <a href="{{ must_know_article.get_url }}">{{ must_know_article.get_title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}