{% extends 'base.html' %}

{% load thumbnail %}
{% load flatblock_tags %}
{% load catalog_tags %}


{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}js/custom_select.js"></script>
{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/custom_select.css">
{% endblock %}

{% block content_head %}
  {% if current_category %}
    <div>{{ item_type.get_title }} {{ current_category.get_title }}</div>
    <div class="b-breadcrumbs">
      <a href="{% url "home" %}">Главная</a> / <a href="{% url "catalog_by_slug" item_model.TYPE %}">{{ item_type.main_title }}</a> /
      <a href='{{ current_category.get_url }}'>{{ current_category.get_title }}</a>
    </div>
  {% else %}
    <div>{{ item_type.get_title }}</div>
    <div class="b-breadcrumbs">
      <a href="{% url "home" %}">Главная</a> / <a href='{{ item_type.get_url }}'>{{ item_type.main_title }}</a>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="b-catalog">
    <aside class="b-catalog__left">
      {% include 'catalog_menu.html' %}
    </aside>

    <div class="b-catalog__content">
      <div class="i-catalog__content">
        <div class="b-pager">
          {% include "includes/paginator.html" %}
          Сортировать:
          <select class="custom_select">
            <option value="">Без сортировки</option>
            {% for order_key_variant, order_variant in order_variants.items %}
              <option value="{{ order_key_variant }}">{{ order_variant.title }}</option>
            {% endfor %}
          </select>
        </div>

        <div>
          {% for good in goods %}
            <div class="b-good">
              <a href="{{ good.get_url }}" class="b-good__image" link="{% url "apps.catalog.api.item_card" good.TYPE good.id %}">
                <div class="b-good__image__info"></div>
                <div class="i-good__image">
                  {% thumbnail good.image "194x170" crop="center" as im %}
                    <img src="{{ im.url }}" alt="{{ good.get_title }}">
                  {% endthumbnail %}
                </div>
              </a>
              <div class="i-good__title">
                <div class="b-good__title">
                  {{ good.get_article }}<br>
                  <b>от {{ good.get_price }}р.</b>
                </div>
              </div>
              <div class="b-good__buttons">
                <a href="#" class="b-button">В избранное</a>
                <a href="{{ good.get_url }}" class="b-button">Заказать</a>
              </div>
            </div>
          {% endfor %}
        </div>
      <div class="i-clear"></div>
      </div>
    </div>
  </div>


  <div class="b-catalog__content">
    <div class="b-pager b-pager_center">
          {% include "includes/paginator.html" %}
    </div>
  </div>


  <div class="b-notfound">
    <p>Не нашли то, что искали?</p>
    <a href="#" class="b-notfound__button">Свяжитесь с нами</a>
    <p>Мы бесплатно поможем найти желаемое изображение!</p>
  </div>

  {% context_flatblock "context-catalog" item_type.ctype.model %}
  {% flatblock "catalog" %}

{% endblock %}