{% extends 'base.html' %}

{% block javascript %}
	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}js/custom_select.js"></script>
{% endblock %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/custom_select.css">
{% endblock %}

{% block content_head %}
	<div class="b-button b-contenthead__button"><span class="b-button__bookmark"></span> В избранное</div>
	<div>Персонализация изображения</div>
	<div class="b-breadcrumbs">
		<a href="/">Главная</a> / <a href="#">Фрески</a> / <a href="">ID000000 «Название изображения» Готовая фреска</a>
	</div>
{% endblock %}

{% block content %}
	<div class="b-p13n">
		<div class="i-p13n__main">
			<div class="b-p13n__main">
				<div class="b-p13n__example">
					<div class="b-p13n__example__select">
						<select class="custom_pselect">
							<option value="#ff0000" data-html="<i class='b-p13n__example__color'><i style='background-color: #ff0000;'></i></i> Цвет стены">Цвет стены</option>
							<option value="#00ff00" data-html="<i class='b-p13n__example__color'><i style='background-color: #00ff00;'></i></i> Цвет стены">Цвет стены</option>
							<option value="#0000ff" data-html="<i class='b-p13n__example__color'><i style='background-color: #0000ff;'></i></i> Цвет стены довольно длинный">Цвет стены</option>
						</select>
					</div>
					<div class="b-p13n__example__image">
						<img src="{{ STATIC_URL }}tmp_images/p13n_image.png" alt="">
					</div>
				</div>
				<div class="b-p13n__bottom">
					<div class="b-p13n__bottom__title">Галерея</div>
					<div class="b-p13n__bottom__gallery">
						<a href="#" class="b-p13n__bottom__gallery__item">
							<img src="{{ STATIC_URL }}tmp_images/p13n_image_min.png" alt="">
						</a>
						<a href="#" class="b-p13n__bottom__gallery__item">
							<img src="{{ STATIC_URL }}tmp_images/p13n_image_min.png" alt="">
						</a>
					</div>
					<div class="b-p13n__bottom__save">
						<a href="#" class="b-p13n__bottom__save__link">
							<span class="b-button"><span class="b-button__save"></span></span>
							<b>Сохранить<br>проект</b>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="b-p13n__right">
			<div class="b-p13n__right__block">
				<div class="b-p13n__right__block__top">Выбор размера</div>
				<div class="b-p13n__right__block__mid">
					<div class="b-p13n__right__block__content">
						<select class="custom_pselect">
							<option value="1" data-html="1000×1000мм <s>1000р</s> 500р<br><b class='b-gallery__sale'>в наличии</b>">1000×1000</option>
							<option value="2" data-html="1000×1000мм <s>2000р</s> 1000р<br><b class='b-good__title__period'>изготовление 2—3 дня </b>">2000×2000</option>
						</select>
					</div>
					<div class="b-p13n__right__block__content b-p13n__right__block__content_wider i-center">
						<a href="#" class="b-button">В интерьере</a>
						<a href="#" class="b-button"><span class="b-button__flip"></span> Отразить</a>
					</div>
				</div>
				<div class="b-p13n__right__block__bottom"></div>
			</div>

			<div class="b-p13n__right__block">
				<div class="b-p13n__right__block__top">Выбор оформления</div>
				<div class="b-p13n__right__block__mid">
					<div class="b-p13n__right__block__content b-p13n__right__block__content_overflow b-p13n__right__block__content_wider">
						<div class="b-p13n__right__block__content__center">На подрамнике или в рулоне</div>
						<a href="#" class="b-p13n__right__frame active">
							<div class="b-p13n__right__frame__in">
								<img src="{{ STATIC_URL }}tmp_images/frame1.png" alt=""><br>
								черный
							</div>
						</a>
						<a href="#" class="b-p13n__right__frame">
							<div class="b-p13n__right__frame__in">
								<img src="{{ STATIC_URL }}tmp_images/frame2.png" alt=""><br>
								белый
							</div>
						</a>
						<a href="#" class="b-p13n__right__frame">
							<div class="b-p13n__right__frame__in">
								<img src="{{ STATIC_URL }}tmp_images/frame3.png" alt=""><br>
								рисунок
							</div>
						</a>
						<a href="#" class="b-p13n__right__frame b-p13n__right__frame_right">
							<div class="b-p13n__right__frame__in">
								<img src="{{ STATIC_URL }}tmp_images/frame_roll.png" alt=""><br>
								-000р
							</div>
						</a>
					</div>
					<div class="b-p13n__right__block__content b-p13n__right__block__content_overflow b-p13n__right__block__content_wider">
						<a href="#" class="b-p13n__right__frame active">
							<div class="b-p13n__right__frame__in">
								<img src="{{ STATIC_URL }}tmp_images/fac1.png" alt=""><br>
								черный
							</div>
						</a>
						<a href="#" class="b-p13n__right__frame b-p13n__right__frame_right">
							<div class="b-p13n__right__frame__in">
								<img src="{{ STATIC_URL }}tmp_images/fac2.png" alt=""><br>
								белый
							</div>
						</a>
						<a href="#" class="b-p13n__right__frame b-p13n__right__frame_right">
							<div class="b-p13n__right__frame__in">
								<img src="{{ STATIC_URL }}tmp_images/fac3.png" alt=""><br>
								рисунок
							</div>
						</a>
					</div>
				</div>
				<div class="b-p13n__right__block__bottom"></div>
			</div>

			<div class="b-p13n__right__block">
				<div class="b-p13n__right__block__top">Выбор тональности</div>
				<div class="b-p13n__right__block__mid">
					<div class="b-p13n__right__block__content">
						<div class="b-p13n__right__tonal">
							<a href="#" class="b-p13n__right__tonal__item active">
								<div class="b-p13n__right__tonal__item__in" style="background-color: #c9e4ef;">Норм.</div>
							</a>
							<a href="#" class="b-p13n__right__tonal__item">
								<div class="b-p13n__right__tonal__item__in" style="background-color: #7c818e;">Ч/б<br>хол.</div>
							</a>
							<a href="#" class="b-p13n__right__tonal__item">
								<div class="b-p13n__right__tonal__item__in" style="background-color: #858585;">Ч/б<br>тепл.</div>
							</a>
							<a href="#" class="b-p13n__right__tonal__item">
								<div class="b-p13n__right__tonal__item__in" style="background-color: #b78e5a;">Сепия</div>
							</a>
							<a href="#" class="b-p13n__right__tonal__item">
								<div class="b-p13n__right__tonal__item__in" style="background-color: #c98937;">Охра</div>
							</a>
							<a href="#" class="b-p13n__right__tonal__item">
								<div class="b-p13n__right__tonal__item__in" style="background-color: #de7050;">Сангина</div>
							</a>
							<div class="i-clear"></div>
						</div>
					</div>
				</div>
				<div class="b-p13n__right__block__bottom"></div>
			</div>

			<div class="b-p13n__right__block">
				<div class="b-p13n__right__block__top">Расчет стоимости</div>
				<div class="b-p13n__right__block__mid">
					<div class="b-p13n__right__block__content b-p13n__right__block__content_wider">
						<div class="b-p13n__right__price">
							<b>Сумма: 00000р</b>
							<a href="#" class="b-p13n__right__price__button"><span></span> Корзина</a>
						</div>
					</div>
				</div>
				<div class="b-p13n__right__block__bottom"></div>
			</div>
		</div>
		<div class="i-clear"></div>
	</div>

	{% include 'personalization_slider.html' %}
{% endblock %}