{% extends 'base.html' %}
{% load thumbnail %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/custom_select.js"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/custom_select.css">
{% endblock %}

{% block content_head %}
    <div>Поиск по запросу: {{ q }}</div>
    <div class="b-breadcrumbs">
        <a href="{% url 'home' %}">Главная</a> / <a href="{% url 'search' %}">Поиск</a>
    </div>
{% endblock %}

{% block content %}
    По вашему запросу найдены изображения из следующих каталогов:
    {% for key, value in catalog_items.items %}
        <a href="?category={{ key.pk }}">Каталог {{ key.title }}: {{ value }}</a>
    {% endfor %}

    {% include 'includes/_pagination.html' %}
    Сортировать:
    <select class="custom_select" name="goods_sort">
        <option value="">Без сортировки</option>
        {% for order_key_variant, order_variant in order_variants.items %}
            <option value="{{ order_key_variant }}">{{ order_variant.title }}</option>
        {% endfor %}
    </select>

    {% for good in object_list %}
        <div class="b-good">
            <a href="{{ good.get_url }}" class="b-good__image">
                <div class="b-good__image__info fancybox.ajax" href="{% url "apps.catalog.api.item_card" good.TYPE good.id %}"></div>
                <div class="i-good__image">
                    {% thumbnail good.image "194x170" as im %}
                        <img src="{{ im.url }}" alt="{{ good.get_title }}">
                    {% endthumbnail %}
                </div>
            </a>
            <div class="b-good__title">
                {{ good.get_article }} <b>Цена {{ good.get_price }}р. за м2</b><br>
                {% if good.exist %}
                    <b class="b-gallery__sale">в наличии{% if good.discount %}<span></span>{% endif %}</b>
                {% else %}
                    <b class="b-good__title__period">{{ good.creating }}</b>
                {% endif %}
            </div>
            <div class="b-good__buttons">
                <a href="#" class="b-button">В избранное</a>
                <a href="#" class="b-button">Каталог</a>
            </div>
        </div>
    {% endfor %}

    {% include 'includes/_pagination.html' %}

    <div class="b-notfound">
        <p>Не нашли то, что искали?</p>
        <a href="#" class="b-notfound__button">Свяжитесь с нами</a>
        <p>Мы бесплатно поможем найти желаемое изображение!</p>
    </div>
{% endblock %}
