{% extends 'base.html' %}

{% block content_head %}
    <div>Контакты</div>
    <div class="b-breadcrumbs">
        <a href="{% url 'home' %}">Главная</a> / <a href="{% url 'contact' %}">Контакты</a>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="http://api-maps.yandex.ru/2.0/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);
        var myMap, myPlacemark;

        function init() {
            myMap = new ymaps.Map('yamap', {
                center: [{{ current_city.get_coordinates }}],
                zoom: 12
            });

            myMap.controls
                .add('zoomControl', {left:5,top:5})
                .add('typeSelector')
                .add('mapTools', {left:35,top:5});

            myPlacemark = new ymaps.Placemark([{{ current_city.get_coordinates }}]);
            myMap.geoObjects.add(myPlacemark);
        }
    </script>
{% endblock %}

{% block content %}
    Самовывоз в г. {{ current_city }}:
    {{ current_city.address|safe }}

    Телефон в г. {{ current_city }}:
    {{ current_city.phone }}

    {% if current_city.email %}
        E-mail:
        {{ current_city.email }}
    {% endif %}

    Режим работы:
    {{ current_city.work|safe }}

    Режим работы операторов:
    {{ current_city.operators_work|safe }}

    <div id="yamap" style="height:400px;"></div>

    Контакты в других городах:
    {% for x in cities %}<a href="#">{{ x.title }}</a>; {% endfor %}

    {{ form.as_p }}
{% endblock %}
