{% extends 'base.html' %}

{% block content_head %}
    <div>Вопросы и ответы</div>
    <div class="b-breadcrumbs">
        <a href="{% url 'home' %}">Главная</a> / <a href="{% url 'faq' %}">Вопросы и ответы</a>
    </div>
{% endblock %}

{% block content %}
    {% for x in object_list %}
        <div class="faq_block">
        <header>{{ x.name }}</header>
            {% for c in x.content.all %}
            <div class="item">
                <p class="question">{{ c.question }}</p>
                <p>{{ c.answer|safe }}</p>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
