{% extends 'base.html' %}

{% block content_head %}
    <div>Отзывы</div>
    <div class="b-breadcrumbs">
        <a href="{% url 'home' %}">Главная</a> / <a href="{% url 'reviews' %}">Отзывы</a>
    </div>
{% endblock %}

{% block content %}
    {% include 'includes/_pagination.html' %}

    {% for x in object_list %}
        [{{ x.created|date:'d.m.Y' }}] {{ x.name }} {% if x.city %}({{ x.city }}){% endif %}
        {% for i in x.photo.all %}<img src="{{ MEDIA_URL }}{{ i.image }}" alt="">{% endfor %}
        {{ x.review|linebreaks }}
    {% endfor %}

    {% include 'includes/_pagination.html' %}

    <form action="{% url 'reviews_save' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="Отправить"></p>
    </form>
{% endblock %}
