{% extends "base.html" %}

{% load thumbnail %}

{% block content_head %}
  <div>{{ article.get_title }}</div>
{% endblock %}


{% block content %}
  <div>
    {% if article.image %}
      {% thumbnail article.image '385x290' crop="center" as im %}
        <a href="{{ im.url }}" class="b-productinfo__image fancybox">
          <img src="{{ im.url }}" alt="">
        </a>
      {% endthumbnail %}
    {% endif %}
    {{ article.get_body|safe }}
    <div class="i-clear"></div>
  </div>
{% endblock %}