{% extends "base.html" %}
{% load thumbnail %}

{% block content_head %}
    <div>{{ object.name }}</div>
    <div class="b-breadcrumbs">
        <a href="{% url 'home' %}">Главная</a> / <a href="{% url 'news_list' %}">Новости</a> / <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
    </div>
{% endblock %}


{% block content %}
    <div class="page_detail">
        <div class="page_detail_images">
            {% for x in object.images.all %}
                <a href="{{ MEDIA_URL }}{{ x.image }}" class="fabcybox_gallery" data-fancybox-group="gallery">
                    {% thumbnail x.image '325x215' crop="center" as im %}
                        <img src="{{ im.url }}" alt="{{ object.name }}">
                    {% endthumbnail %}
                </a>
            {% endfor %}
            <div class="i-clear"></div>
        </div>
    {{ object.description|safe }}
    </div>
{% endblock %}
