{% extends 'base.html' %}
{% load thumbnail %}

{% block content_head %}
    <div>Новости</div>
    <div class="b-breadcrumbs">
        <a href="{% url 'home' %}">Главная</a> / <a href="{% url 'news_list' %}">Новости</a>
    </div>
{% endblock %}

{% block content %}
    {% include 'includes/_pagination.html' %}
    <div class="news_list">
        {% for x in object_list %}
            <div class="news_item">
                <h3 class="title">{{ x.name }}</h3>
                <div class="news_body">
                    <div class="news_images {% if x.images.all|length > 1 %}two_images{% endif %}">
                        {% for i in x.images.all|slice:'2' %}
                            <a href="#">
                                {% thumbnail i.image '385x290' crop="center" as im %}
                                    <img src="{{ im.url }}" alt="{{ x.name }}">
                                {% endthumbnail %}
                            </a>
                        {% endfor %}
                    </div>
                    <div class="news_desc">
                        {{ x.description|striptags|truncatewords:100 }}
                    </div>
                    <a href="{{ x.get_absolute_url }}" class="more">Подробнее</a>
                    <div class="i-clear"></div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% include 'includes/_pagination.html' %}

    <header class="subscribe_form_header">Подписаться на новости / Отменить подписку:</header>
    <form action="{% url 'ajax_subscribe' %}" method="post" class="subscribe_form">
        {% csrf_token %}
        <div class="fields">
            {{ form.as_p }}
        </div>
        <div class="button_block">
            <input type="submit" class="subscribe" value="Подписаться" disabled="disabled">
            <div class="i-clear"></div>
        </div>
    </form>
{% endblock %}
