{% if block.body %}
    {% if block.display == block.BORDERED %}
        {% load thumbnail %}
        <div class="b-greenhint">
            <div class="b-greenhint__block" {% thumbnail block.image "992" as im %}style="background: url('{{ im.url }}') 0 0 no-repeat;"{% endthumbnail %}>
                {{ block.get_body|safe }}
            </div>
        </div>
    {% elif block.display == block.ARTICLE %}
        <div class="b-seo">
            <div class="b-seo__head">{{ block.get_title }}</div>
            <div class="b-seo__text">
                {{ block.get_body|safe }}
            </div>
        </div>
    {% else %}
        {{ block.get_body|safe }}
    {% endif %}
{% endif %}