.b-cart {
	padding: 4px;
	background-color: #4d4d4d;
	border-radius: 4px;
	margin-bottom: 40px;
	position: relative;
	min-width: 680px;
}

.b-cart:last-child {
	margin-bottom: 60px;
}

.b-cart__close {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../images/sprite.png) -50px -220px no-repeat;
	position: absolute;
	right: -15px;
	top: -15px;
	border-radius: 50%;
}

.b-cart__edit {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../images/sprite.png) -82px -220px no-repeat;
	position: absolute;
	right: 20px;
	top: -15px;
	border-radius: 50%;
}

.i-cart__main {
	position: absolute;
	top: 0;
	left: 0;
	width: 733px;
	height: 100%;
}

.b-cart__main {
	top: 4px;
	right: 0;
	bottom: 4px;
	left: 4px;
	border: 1px solid #fff;
	margin-right: 4px;
	border-radius: 4px;
	position: absolute;
	overflow: hidden;
	background-color: #e6e6e6;
}

.b-cart__example {
	border: 2px solid #999999;
	border-radius: 4px 4px 0 0;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.i-cart__example__image {
	position: absolute;
	left: 0;
	top: 0;
	width: 719px;
	height: 100%;
	display: table;
}

.b-cart__example__image {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #666;
	font-size: 12.5px;
}

.b-cart__example__image img {
	margin-bottom: 5px;
}

.b-cart__right {
	width: 287px;
	float: right;
}

.b-cart__right__block {
	border: 1px solid #fff;
	border-radius: 4px;
	margin-bottom: 2px;
}

.b-cart__right__block:last-child {
	margin-bottom: 0;
}

.b-cart__right__block__top {
	height: 24px;
	background: url(../images/p13n_right_top.png) 0 0 no-repeat;
	padding: 5px 29px 0 29px;
	font-size: 16.7px;
}

.b-cart__right__block__top__right {
	float: right;
	color: #4c4c4c;
	font-size: 13px;
	padding-top: 2px;
}

.b-cart__right__block__bottom {
	height: 8px;
	background: url(../images/p13n_right_bottom.png) 0 0 no-repeat;
}

.b-cart__right__block__mid {
	background: url(../images/p13n_right_mid.png) 0 0 repeat;
	padding: 0 4px;
}

.b-cart__right__block__content {
	border: 2px solid #876149;
	border-bottom: none;
	background: url(../images/p13n_right_bg.png) 0 0 repeat;
	padding: 5px 10px;
	font-size: 13px;
}

.b-cart__right__param {
	border: 2px solid #a8e900;
	border-radius: 6px;
	margin-bottom: 6px;
}

.b-cart__right__param:first-child {
	margin-top: 5px;
}

.i-cart__right__param {
	padding: 5px 9px 10px 9px;
	border: 1px solid #8c644c;
	border-radius: 4px;
	font-size: 16.7px;
	color: #fff;
	background-color: rgba(127, 79, 51, .3);
}

.i-cart__right__param a {
	color: #fff;
}

.b-cart__right__group {
	padding: 5px 8px;
	border: 1px solid #8c644c;
	border-radius: 4px;
	font-size: 16px;
	color: #fff;
	background-color: rgba(127, 79, 51, .3);
	margin-bottom: 6px;
}

.b-cart__right__group_discount {
	padding-top: 15px;
	padding-bottom: 15px;
}

.b-cart__right__group_checks {
	padding-left: 5px;
}

.b-cart__right__group a {
	color: #fff;
}

.b-cart__right__choose {
	margin-bottom: 7px;
	padding: 4px 0 0 30px;
	position: relative;
}

.b-cart__right__checkbox {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	float: left;
	width: 25px;
	height: 25px;
	margin: 0 4px 4px 0;
	background: url(../images/sprite.png) 0 -220px no-repeat;
	border-radius: 50%;
	cursor: pointer;
}

.b-cart__right__checkbox input {
	display: none;
}

.b-cart__right__checkbox_checked {
	background-position: -25px -220px;
}

.i-cart__right__discount {
	border: 1px solid #545454;
	border-radius: 4px;
	width: 84px;
	padding: 3px 5px;
}

.i-cart__right__discount:focus {
	border-color: #000;
}

.b-cart__right__price {
	color: #000;
	background-color: #a8e900;
	padding: 5px 13px;
	border-radius: 5px;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 16.7px;
	border: 1px solid #beff19;
}

.b-cart__right__hint {
	display: none;
}

.b-cart__hint {
	display: none;
	position: absolute;
	padding: 8px;
	border: 1px solid #4d4d4d;
	background-color: #fff;
	border-radius: 6px;
	font-size: 14px;
	color: #000;
}

.b-cart__order {
	background-color: rgba(255, 255, 255, .5);
	border-radius: 6px;
	position: relative;
}

.i-cart__order {
	border: 1px solid #cccccc;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 200;
}

.i-cart__order__in {
	position: relative;
	z-index: 300;
}

.b-cart__order__head {
	height: 40px;
}

.b-cart__order__head__title {
	width: 149px;
	float: left;
	text-align: center;
	padding-top: 11px;
	height: 29px;
	border-bottom: 1px solid #999999;
	border-top: 1px solid transparent;
}

.b-cart__order__head__tab {
	padding: 11px 0 0 53px;
	height: 29px;
	width: 155px;
	display: block;
	float: left;
	text-decoration: none;
	color: #000;
	position: relative;
	border: 1px solid #999;
	border-radius: 4px 0 0 0;
}

.b-cart__order__head__tab_last {
	border-radius: 0 4px 0 0;
	border-left: none;
}

.b-cart__order__head__tab span {
	position: absolute;
	left: 25px;
	top: 7px;
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../images/sprite.png) -114px -220px no-repeat;
}

.b-cart__order__head__tab.active {
	border-bottom: none;
}

.b-cart__order__head__tab.active span {
	background-position: -139px -220px;
}

.b-cart__order__head__placeholder {
	border-top: 1px solid transparent;
	border-bottom: 1px solid #999;
	height: 40px;
	margin-left: 568px;
}

.b-cart__order__form {
	border: 1px solid #999;
	border-top: none;
	padding: 19px 25px;
}

.b-cart__order__form__col {
	float: left;
	margin-right: 30px;
}

.b-cart__order__form__col td {
	padding-bottom: 5px;
}

.b-cart__order__form__col td:first-child {
	padding-right: 15px;
	min-width: 80px;
}

.b-cart__order__form__col td span {
	color: #f00;
}

.b-cart__order__form__col input[type="text"] {
	width: 250px;
	padding: 3px 5px;
	border: 1px solid #545454;
	border-radius: 4px;
}

.b-cart__order__form__col input[type="text"].active {
	box-shadow: 0px 0px 0px 2px #a8e900;
}

.b-cart__order__form__col input.b-cart__order__form__col__shortinput {
	width: 50px;
}

.b-cart__order__form__col textarea {
	width: 350px;
	height: 50px;
	padding: 3px 5px;
	border: 1px solid #545454;
	border-radius: 4px;
}

.b-cart__order__payment {
	width: 692px;
	margin-bottom: 10px;
	padding: 3px 80px 0 31px;
	min-height: 25px;
	position: relative;
	cursor: pointer;
}

.b-cart__order__payment__radio {
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	background: url(../images/sprite.png) -114px -220px no-repeat;
}

.b-cart__order__payment__radio input {
	display: none;
}

.b-cart__order__payment__radio.active {
	background-position: -139px -220px;
}

.b-cart__order__payment__icon {
	position: absolute;
	top: 0;
	left: 735px;
	height: 30px;
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
}

.b-cart__order__form__title {
	margin-bottom: 10px;
}

.b-cart__order__payment__icon_1 {
	width: 31px;
	background-position: 0 -252px;
}

.b-cart__order__payment__icon_2 {
	width: 67px;
	background-position: -31px -252px;
}

.b-cart__order__payment__icon_3 {
	width: 21px;
	background-position: -99px -252px;
}

.b-cart__order__payment__icon_4 {
	width: 18px;
	background-position: -120px -252px;
}

.b-cart__order__payment__icon_5 {
	width: 22px;
	background-position: -138px -252px;
}

.b-cart__order__payment__icon_6 {
	width: 21px;
	background-position: -160px -252px;
}

.b-cart__order__payment__icon_7 {
	width: 36px;
	background-position: 0 -282px;
}

.b-cart__order__payment__icon_8 {
	width: 39px;
	background-position: -36px -282px;
}

.b-cart__order__payment__icon_9 {
	width: 38px;
	background-position: -75px -282px;
}

.b-cart__order__payment__icon_10 {
	width: 21px;
	background-position: -113px -282px;
}


.b-cart__order__sum {
	background-color: #a8e900;
	border: 1px solid #beff19;
	float: right;
	width: 230px;
	padding: 3px 13px 7px 11px;
	border-radius: 4px;
}

.b-cart__order__sum__value {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 7px;
}

.b-cart__order__sum__submit[disabled] {
	color: #547400;
	border: 1px solid #7a9b27;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #D3F47F),
		color-stop(1, #A7C854)
	);
	background-image: -o-linear-gradient(bottom, #D3F47F 0%, #A7C854 100%);
	background-image: -moz-linear-gradient(bottom, #D3F47F 0%, #A7C854 100%);
	background-image: -webkit-linear-gradient(bottom, #D3F47F 0%, #A7C854 100%);
	background-image: -ms-linear-gradient(bottom, #D3F47F 0%, #A7C854 100%);
	background-image: linear-gradient(to bottom, #D3F47F 0%, #A7C854 100%);
}

.b-cart__order__sum__submit[disabled]:hover {
	border-color: #7a9b27;
}

.b-cart__order__sum__submit {
	border-radius: 10px;
	height: 39px;
	width: 168px;
	cursor: pointer;
	font-family: Tahoma;
	color: #000;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #4e4e4e;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.54, #F1F1F1),
		color-stop(1, #9FA09F)
	);
	background-image: -o-linear-gradient(bottom, #F1F1F1 54%, #9FA09F 100%);
	background-image: -moz-linear-gradient(bottom, #F1F1F1 54%, #9FA09F 100%);
	background-image: -webkit-linear-gradient(bottom, #F1F1F1 54%, #9FA09F 100%);
	background-image: -ms-linear-gradient(bottom, #F1F1F1 54%, #9FA09F 100%);
	background-image: linear-gradient(to bottom, #F1F1F1 54%, #9FA09F 100%);
}

.b-cart__order__sum__submit:hover {
	border-color: #000;
}

.b-cart__order__terms {
	position: relative;
	width: 354px;
	padding: 3px 0 0 31px;
}

.b-cart__order__terms a {
	color: #000;
}

.b-cart__order__terms span {
	color: #f00;
}

.b-cart__order__terms__checkbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	background: url(../images/sprite.png) -114px -220px no-repeat;
	border-radius: 50%;
	cursor: pointer;
}

.b-cart__order__terms__checkbox.active {
	background-position: -139px -220px;
}

.b-cart__order__terms__checkbox input {
	display: none;
}