.b-customselect {
	display: inline-block;
	position: relative;
	font-size: 13.9px;
}

.b-customselect__main {
	display: inline-block;
	cursor: pointer;
}

.b-customselect__text {
	background: url(../images/custom_select_bg.png) 0 0 no-repeat;
	font-weight: normal;
	position: relative;
	z-index: 150;
	display: inline-block;
	width: 133px;
	height: 25px;
	padding: 4px 10px 0 10px;
}

.b-customselect__group {
	position: absolute;
	z-index: 100;
	background-color: #fff;
	display: none;
	min-width: 100%;
	top: 20px !important;
	left: 0;
	padding-top: 10px;
}

.b-customselect__option {
	display: block;
	padding: 4px 7px;
}

.b-customselect__option:hover {
	background-color: #add855;
}

/* Another one select */
.b-pselect {
	font-size: 14px;
	display: inline-block;
	position: relative;
	border-radius: 4px;
	background-color: #ededed;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #EDEDED)
	);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #EDEDED 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #EDEDED 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #EDEDED 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #EDEDED 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #EDEDED 100%);
}

.b-pselect__main {
	display: block;
	cursor: pointer;
	background: url(../images/pselect_bg.png) right center no-repeat;
	padding-right: 23px;
	border: 1px solid #545454;
	border-radius: 4px;
	/*width: 100%;*/
}

.b-pselect__text {
	font-weight: normal;
	position: relative;
	z-index: 150;
	display: inline-block;
	/*width: 133px;*/
	height: 26px;
	padding: 3px 10px 0 10px;
	white-space: nowrap;
}

.b-pselect__group {
	position: absolute;
	z-index: 100;
	background-color: #fff;
	display: none;
	min-width: 100%;
	top: 30px;
	left: -2px;
	border-bottom: 2px solid #a8e900;
	border-left: 2px solid #a8e900;
	border-right: 2px solid #a8e900;
}

.b-pselect__option {
	display: block;
	padding: 4px 7px;
	white-space: nowrap;
}

.b-pselect__option:hover, .b-pselect__option.selected {
	background-color: #d9d9d9;
}

/* And for posters too */
.b-pselectposter {
	width: 100%;
	font-size: 15.3px;
	display: inline-block;
	position: relative;
	border-radius: 4px;
	background-color: #ededed;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #EDEDED)
	);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #EDEDED 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #EDEDED 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #EDEDED 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #EDEDED 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #EDEDED 100%);
	margin: 2px 2px 4px 2px;
}

.b-pselectposter__main {
	display: block;
	cursor: pointer;
	background: url(../images/pselect_bg.png) right center no-repeat;
	padding-right: 23px;
	border: 1px solid #545454;
	border-radius: 4px;
	height: 40px;
	box-shadow: 0 0 0 2px #a8e900;
	/*width: 100%;*/
}

.b-pselectposter__text {
	font-weight: normal;
	position: relative;
	z-index: 150;
	display: inline-block;
	/*width: 133px;*/
	height: 26px;
	padding: 3px 10px 0 10px;
	white-space: nowrap;
	line-height: 1.1;
}

.b-pselectposter__group {
	position: absolute;
	z-index: 100;
	background-color: #fff;
	display: none;
	min-width: 100%;
	top: 30px;
	left: -2px;
	border-bottom: 2px solid #a8e900;
	border-left: 2px solid #a8e900;
	border-right: 2px solid #a8e900;
}

.b-pselectposter__option {
	display: block;
	padding: 4px 7px;
	white-space: nowrap;
}

.b-pselectposter__option:hover, .b-pselectposter__option.selected {
	background-color: #d9d9d9;
}

.b-pselectposter .b-gallery__green, .b-pselectposter .b-good__title__period {
	font-size: 13.9px;
}