html, body {
	margin: 0;
	padding: 0;
}

body, input, textarea, button {
	font-family: Tahoma;
	font-size: 15.3px;
	line-height: 1.2;
}

body {
	background-color: #4d4d4d;
	min-width: 1024px;
}

p {
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

a:hover {
	text-decoration: none;
}

table {
	border-collapse: collapse;
}

td {
	border: none;
	padding: 0;
}

.fancybox-wrap {
	background-color: #b2b2b2;
	padding: 3px;
	border: 1px solid #fff;
	border-radius: 8px;
	width: auto !important;
	/*max-width: 685px;*/
}

.fancybox-nav span {
	visibility: visible;
}

.fancybox_cityselect .fancybox-inner {
	width: auto !important;
	overflow: visible !important;
}

.fancybox_cityselect .fancybox-outer {
	width: 685px !important;
}

.fancybox-skin {
	border: 2px solid #666;
	background: url(../images/fancybox_corner.png) right top no-repeat #fff;
}

.fancybox-close {
	background: url(../images/sprite.png) 0 -153px no-repeat;
	top: -20px;
	right: -20px;
	width: 32px;
	height: 32px;
}

.i-fancywrap {
	padding: 15px;
}

.i-clear {
	clear: both;
}

.i-center {
	text-align: center;
}

.b-fancy__adderss {
	padding: 12px 16px 2px 16px;
}

.b-cityselect {
	padding: 0 16px 14px 16px;
}

.b-cityselect a {
	color: #000;
}

.b-cityselect__col {
	width: 22%;
	float: left;
	margin-right: 4%;
}

.b-cityselect__col:nth-child(4n) {
	margin-right: 0;
}

.b-mainheader {
	height: 1097px;
	padding-top: 27px;
	background: url(../images/mainpage_header_bg.jpg) center top no-repeat;
	position: relative;
	box-shadow: 0 0 35px #000;
}

.b-allheader {
	height: 200px;
	background: url(../images/header_bg.jpg) center top no-repeat;
	box-shadow: 0 0 30px rgba(0, 0, 0, .7);
	position: relative;
}

.b-header {
	width: 1024px;
	height: 120px;
	margin: 0 auto;
	position: relative;
}

.b-header__logo {
	display: block;
	width: 423px;
	left: 0;
	top: 0;
	height: 120px;
	float: left;
	background: url(../images/sprite.png) 0 -32px no-repeat;
}

.b-header__title {
	float: left;
	width: 192px;
	padding: 27px 13px 0 12px;
	opacity: .7;
	font-size: 18px;
}

.b-header__links {
	padding-top: 19px;
	width: 363px;
	float: left;
	font-size: 15.3px;
}

.b-header__link {
	color: #000;
	margin: 0 35px 15px 0;
	white-space: nowrap;
	display: inline-block;
}

.b-header__link span {
	display: inline-block;
	background-image: url(../images/sprite.png);
	width: 17px;
	height: 16px;
	margin-right: 7px;
	position: relative;
	top: 3px;
}

.b-header__link_phone {
	margin-right: 27px;
}

.b-header__link_phone span {
	background-position: -331px 0;
}

.b-header__link_city {
	margin-right: 0;
}

.b-header__link_city span {
	background-position: -348px -16px;
}

.b-header__link_city b {
	display: inline-block;
	margin-left: 4px;
	width: 10px;
	height: 5px;
	background: url(../images/sprite.png) -382px 0 no-repeat;
}

.b-header__link_enter span {
	background-position: -331px -16px;
}

.b-header__link_bookmark span {
	background-position: -348px 0;
}

.b-header__link_cart span {
	background-position: -365px 0;
}

.b-header__sale {
	display: block;
	width: 246px;
	height: 30px;
	position: absolute;
	bottom: 0;
	right: 111px;
	background: url(../images/sprite.png) 0 0 no-repeat;
}

.b-header__sale:hover {
	background-position: 0 -185px;
}

.b-menu {
	width: 1004px;
	margin: 0 auto;
	height: 39px;
	padding-top: 13px;
}

.b-menu__item {
	height: 39px;
	float: left;
	overflow: hidden;
	margin-left: 50px;
}

.b-menu__item:last-child {
	margin-right: 0;
}

.b-menu_main .b-menu__item {
	margin-right: 10px;
	width: 191px;
	text-align: center;
	margin-left: 0;
}

.b-menu_main .b-menu__item:last-child {
	margin-right: 0;
}

.b-menu__link {
	font-size: 16.7px;
	color: #000;
}

.b-menu__link_active {
	color: #690;
}

.b-mainbanners {
	width: 1004px;
	margin: 0 auto;
	padding: 0 10px;
}

.b-mainbanners__banner {
	display: block;
	position: relative;
	float: left;
	width: 191px;
	margin-right: 10px;
	/*height: 731px;*/
	padding-top: 255px;
	height: 476px;
	text-decoration: none;
}

.b-mainbanners__banner:nth-child(5n) {
	margin-right: 0;
}

.i-mainbanners__banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	z-index: 50;
}

.b-mainbanners__banner:hover .i-mainbanners__banner {
	opacity: .7;
}

.b-mainbanners__banner__sign {
	width: 191px;
	/*height: 731px;*/
	height: 165px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	position: relative;
	z-index: 100;
}

.b-mainbanners__banner__title {
	color: #fff;
}

.b-mainbanners__banner__price {
	font-size: 22.2px;
	color: #333;
}

.b-button {
	background-color: #ececec;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #ECECEC)
	);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #ECECEC 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #ECECEC 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #ECECEC 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #ECECEC 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #ECECEC 100%);
	border: 1px solid #b5b5b5;
	border-radius: 10px;
	color: #000;
	font-size: 13.9px;
	text-align: center;
	padding: 7px 5px 7px 5px;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}

.i-buttonactive.active {
	border: 2px solid transparent;
	border-radius: 10px;
	display: inline-block;
}


.i-buttonactive.active {
	border-color: #a8e900;
}

.b-button:hover {
	border-color: #636363;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #F1F1F1),
		color-stop(1, #DDDDDD)
	);
	background-image: -o-linear-gradient(bottom, #F1F1F1 0%, #DDDDDD 100%);
	background-image: -moz-linear-gradient(bottom, #F1F1F1 0%, #DDDDDD 100%);
	background-image: -webkit-linear-gradient(bottom, #F1F1F1 0%, #DDDDDD 100%);
	background-image: -ms-linear-gradient(bottom, #F1F1F1 0%, #DDDDDD 100%);
	background-image: linear-gradient(to bottom, #F1F1F1 0%, #DDDDDD 100%);
}

.b-button__bookmark {
	width: 17px;
	height: 16px;
	background: url(../images/sprite.png) -348px 0 no-repeat;
	display: inline-block;
	position: relative;
	top: 4px;
}

.b-button__catalog {
	width: 17px;
	height: 16px;
	background: url(../images/sprite.png) -365px -16px no-repeat;
	display: inline-block;
	position: relative;
	top: 2px;
}

.b-button__cart {
	width: 17px;
	height: 16px;
	background: url(../images/sprite.png) -365px 0 no-repeat;
	display: inline-block;
	position: relative;
	top: 4px;
}

.b-button__save {
	width: 21px;
	height: 16px;
	background: url(../images/sprite.png) -32px -152px no-repeat;
	display: inline-block;
	position: relative;
	top: 1px;
}

.b-button__flip {
	width: 13px;
	height: 14px;
	background: url(../images/sprite.png) -68px -152px no-repeat;
	display: inline-block;
	position: relative;
	top: 1px;
}

.b-button__crop {
	width: 13px;
	height: 13px;
	background: url(../images/sprite.png) -32px -171px no-repeat;
	display: inline-block;
	position: relative;
	top: 1px;
}

.b-search {
	height: 114px;
	padding-top: 16px;
	background: url(../images/search_bg.png) center -190px no-repeat;
}

.i-search {
	width: 992px;
	margin: 0 auto;
}

.b-search__form {
	width: 488px;
	float: left;
}

.b-search__form .b-button {
	width: 114px;
	font-size: 16px;
	height: 15px;
	position: relative;
	padding: 6px 5px 13px 5px;
	top: 2px;
}

.b-search__title {
	padding-left: 14px;
	color: #fff;
	margin-bottom: 13px;
	font-size: 16.7px;
}

.b-search__inputs {
	position: relative;
	height: 36px;
}

.b-search__inputs .b-button {
	position: absolute;
	left: 343px;
	top: 0;
}

.b-search__input {
	width: 288px;
	padding: 0 16px 4px 16px;
	border: 1px solid #4d4d4d;
	border-radius: 5px;
	height: 29px;
	margin-right: 17px;
	font-size: 16.7px;
}

.b-search__example {
	padding-left: 14px;
	font-size: 14px;
	margin-top: 10px;
	color: #fff;
	font-size: 13.9px;
}

.b-search__example a {
	color: #fff;
}

.b-search__banner {
	padding-top: 4px;
	display: block;
	margin-left: 496px;
}

.b-contenthead {
	height: 119px;
	background: url(../images/content_header_bg.png) center top no-repeat;
}

.i-contenthead {
	width: 992px;
	margin: 0 auto;
}

.i-contenthead__tc {
	display: table-cell;
	vertical-align: middle;
	height: 77px;
	font-size: 22px;
	width: 992px;
}

.b-contenthead__button {
	float: right;
	margin-top: 10px;
	padding: 5px 5px 9px 5px;
}

.b-breadcrumbs {
	font-size: 14px;
	color: #4c4c4c;
	padding: 5px 0 8px 0;
}

.b-breadcrumbs a {
	color: #4c4c4c;
}

.b-content {
	background: url(../images/content_bg.png) center top repeat-y;
	min-height: 300px;
	padding-bottom: 80px;
}

.i-content {
	width: 1024px;
	margin: 0 auto;
}

.b-footer {
	height: 570px;
	padding-top: 46px;
	background: url(../images/footer_bg.png) center top no-repeat;
}

.i-footer {
	width: 1024px;
	margin: 0 auto;
}

.b-footer__cols {
	padding: 0 16px;
}

.b-footer__cols__col {
	float: left;
	width: 217px;
	margin-right: 27px;
}

.b-footer__cols__col__link {
	margin-bottom: 15px;
	font-size: 16.7px;
}

.b-footer__cols__col__link a {
	color: #000;
}

.b-footer__cols__col__link_min {
	margin-bottom: 7px;
}

.b-footer__socials {
	margin: 18px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 18px 16px;
}

.b-footer__socials__title {
	font-size: 16.7px;
	margin-bottom: 10px;
}

.b-good {
	width: 198px;
	border: 1px solid #ccc;
	border-radius: 6px;
	background-color: #fff;
	padding-top: 178px;
	height: 100px;
	position: relative;
	font-size: 13.9px;
	float: left;
	margin-right: 11px;
	margin-bottom: 12px;
}

.b-good:last-child, .b-good:nth-last-child(2), .b-good:nth-last-child(3), .b-good:nth-last-child(4) {
	margin-bottom: 0;
}

.b-good_slider {
	padding-top: 187px;
	height: 71px;
	width: 208px;
	margin-right: 11px;
}

.b-good_mainpage {
	width: 242px;
	margin-right: 16px;
	margin-bottom: 17px;
	height: 108px;
}

.b-good:nth-child(4n) {
	margin-right: 0;
}

.b-good__new {
	position: absolute;
	left: -1px;
	top: -1px;
	background: url(../images/sprite.png) -468px -220px no-repeat;
	width: 32px;
	height: 32px;
}

.b-good__image {
	position: absolute;
	left: -1px;
	top: -1px;
	width: 194px;
	height: 170px;
	padding: 2px;
	border: 1px solid #999;
	border-radius: 6px;
	display: block;
}

.b-good__image:hover {
	border-color: #000;
	cursor: zoom-in;
}

.b-good_slider .b-good__image, .b-good_slider .i-good__image {
	height: 181px;
	width: 204px;
}

.b-good_slider .b-good__image img {
	width: 204px;
}

.b-good_mainpage .b-good__image {
	width: 234px;
	padding: 4px;
}

.i-good__image {
	height: 170px;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	background-color: #f3f3f3;
	border-radius: 3px;
}

.b-good_slider, .b-good_slider:nth-child(4n) {
	margin-right: 11px;
}

.b-good__image__info {
	position: absolute;
	right: 2px;
	top: 2px;
	width: 35px;
	height: 35px;
	background: url(../images/sprite.png) -465px 0 no-repeat;
}

.b-good__image:hover .b-good__image__info {
	background-position: -423px -32px;
}

.b-good__image__cart {
	border: 10px solid #fcfcfc;
	background: url(../images/sprite.png) -365px 0 no-repeat #fcfcfc;
	border-radius: 4px;
	position: absolute;
	width: 17px;
	height: 16px;
	right: 0;
	top: 0;
}

.i-good__title {
	display: table;
	width: 100%;
}

.b-good__title {
	display: table-cell;
	text-align: center;
	height: 63px;
	width: 100%;
	vertical-align: middle;
}

.b-good_slider .b-good__title {
	height: 71px;
}

/*.b-good_mainpage .b-good__title {
	height: 59px;
}*/

.b-good__title__period {
	color: #808080;
}

.b-good__title__exists {
	color: #88cc00;
}

.b-good__buttons {
	text-align: center;
}

.b-good__buttons .b-button {
	width: 87px;
	height: 21px;
	padding: 5px 0 0 0;
	font-size: 13.9px;
}

.b-good_mainpage .b-good__buttons .b-button {
	width: 96px;
	height: 27px;
	padding: 3px 5px 0 5px;
	font-size: 13.9px;
}

.b-texttitle {
	font-size: 16.7px;
}

.b-gallery {
	padding: 9px 15px 0 15px;
}

.b-gallery__head {
	/*height: 83px;*/
	margin-bottom: 8px;
	font-size: 13.9px;
}

.b-gallery__title {
	color: #4c4c4c;
	width: 800px;
	font-size: 16.7px;
}

.b-gallery__desc {
	color: #a6a6a6;
	font-size: 13.9px;
}

.b-gallery__price {
	font-weight: bold;
	font-size: 16.7px;
}

.b-gallery__sale {
	display: inline-block;
	height: 12px;
	width: 42px;
	background: url(../images/sprite.png) -458px -39px no-repeat;
	margin-left: 5px;
	position: relative;
	top: 2px;
}

.b-gallery__red {
	color: #fe0000;
}

.b-gallery__grey {
	color: #808080;
}

.b-gallery__green {
	color: #88cc00;
}

.b-gallery__action {
	display: inline-block;
	height: 14px;
	width: 45px;
	background: url(../images/sprite.png) -456px -253px no-repeat;
	position: relative;
	top: 4px;
}

.b-gallery__buttons {
	float: right;
	padding-right: 10px;
	padding-top: 21px;
}

.b-gallery__buttons .b-button {
	padding: 5px 5px 0 5px;
	width: 105px;
	height: 28px;
}

.b-gallery__image {
	width: 800px;
	height: 600px;
	position: relative;
	margin-bottom: 10px;
	text-align: center;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.44, #5A5757),
		color-stop(1, #434141)
	);
	background-image: -o-linear-gradient(bottom, #5A5757 44%, #434141 100%);
	background-image: -moz-linear-gradient(bottom, #5A5757 44%, #434141 100%);
	background-image: -webkit-linear-gradient(bottom, #5A5757 44%, #434141 100%);
	background-image: -ms-linear-gradient(bottom, #5A5757 44%, #434141 100%);
	background-image: linear-gradient(to bottom, #5A5757 44%, #434141 100%);
}

.b-gallery__arrow {
	display: inline-block;
	position: absolute;
	top: 283px;
	width: 32px;
	height: 32px;
	background-image: url(../images/sprite.png);
	opacity: .5;
}

.b-gallery__arrow:hover {
	opacity: 1;
}

.b-gallery__arrow_left {
	left: 10px;
	background-position: -468px -82px;
}

.b-gallery__arrow_right {
	right: 10px;
	background-position: -468px -114px;
}

.b-gallery__min__item {
	display: block;
	height: 80px;
	width: 105px;
	border: 1px solid #000;
	float: left;
	margin: 0 10px 10px 0;
	overflow: hidden;
}

.b-gallery__min__item.active, .b-gallery__min__item:hover {
	opacity: .5;
}

.b-gallery__new {
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/sprite.png) -468px -220px no-repeat;
	width: 32px;
	height: 32px;
}

.b-catalog {
	background: url(../images/catalog_bg.png) 0 0 repeat-y;
	min-height: 200px;
	width: 1024px;
	margin: 0 auto 17px auto;
}

.b-catalog__left {
	width: 160px;
	float: left;
}

.b-catalog__left__title {
	font-size: 16.7px;
	padding: 10px 0 0 13px;
	height: 30px;
}

.b-catalog__menu {
	width: 150px;
	margin: 0 0 0 5px;
	padding: 5px 5px 30px 5px;
	float: left;
	background: url(../images/catalog_menu_bg.png) 0 0 repeat-y;
	list-style-type: none;
}

.b-catalog__menu b {
	color: #8c0;
}

.b-catalog__menu a:hover b {
	color: #fff;
}

.b-catalog__menu__item {
	margin-bottom: 3px;
}

.b-catalog__menu__item.active {
	margin-bottom: -3px;
}

.b-catalog__menu__link {
	position: relative;
	display: block;
	text-decoration: none;
	color: #000;
	padding: 8px 8px 8px 7px;
	background: url(../images/menu_bg.png) 0 0 no-repeat;
	font-size: 13.9px;
	z-index: 150;
	outline: none;
}

.b-catalog__menu__link_sub {
	padding-right: 25px;
}

.b-catalog__menu__link:hover, .b-catalog__menu__item.active .b-catalog__menu__link {
	background-image: url(../images/menu_bg_active.png);
}

.b-catalog__menu__new {
	background: url(../images/sprite.png) -475px -55px no-repeat;
	display: inline-block;
	width: 25px;
	height: 25px;
	position: absolute;
	right: 0;
	top: 0;
}

.b-catalog__menu__arrow {
	background: url(../images/sprite.png) -382px -11px no-repeat;
	display: inline-block;
	width: 9px;
	height: 5px;
	position: absolute;
	right: 11px;
	top: 13px;
}

.b-catalog__menu__submenu {
	background-color: #f8f8f8;
	display: none;
	list-style-type: none;
	padding: 5px 0 0 0;
	margin: 0;
	position: relative;
	top: -5px;
	z-index: 100;
}

.b-catalog__menu__item.active:after {
	content: '';
	height: 12px;
	width: 100%;
	display: block;
	background: url(../images/menu_opened_bottom.png) 0 0 no-repeat;
	position: relative;
	top: -5px;
}

.b-catalog__menu__item.active .b-catalog__menu__submenu {
	display: block;
}

.b-catalog__menu__submenu a {
	display: block;
	padding: 8px 6px;
	font-size: 13.9px;
	text-decoration: none;
	color: #000;
	position: relative;
	outline: none;
}

.b-catalog__menu__submenu a:hover, .b-catalog__menu__submenu a.active {
	background-color: #add855;
}

.b-catalog__content {
	margin-left: 191px;
}

.i-catalog__content {
	overflow: hidden;
}

.b-pager {
	height: 40px;
	margin-bottom: 11px;
	font-size: 16.7px;
	padding-left: 10px;
}

.b-pager_center {
	text-align: center;
	height: auto;
	margin-bottom: 17px;
}

.b-pager__link {
	display: inline-block;
	/*float: left;*/
	width: 24px;
	height: 24px;
	padding: 2px 0 0 1px;
	text-align: center;
	background: url(../images/sprite.png) -437px 0 no-repeat;
	text-align: center;
	color: #000;
	text-decoration: none;
}

.b-pager__link:hover, .b-pager__link.active {
	background-position: -408px 0;
}

.b-pager__link_last {
	margin-right: 5px;
	/*display: inline-block;*/
}

.b-notfound {
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
	padding: 20px 100px;
	font-size: 19.4px;
	text-align: center;
}

.b-notfound__button {
	display: inline-block;
	color: #000;
	text-decoration: none;
	width: 178px;
	height: 26px;
	padding-top: 3px;
	margin: 10px 0;
	background: url(../images/sprite.png) -322px -153px repeat;
	font-size: 16.7px;
}

.b-seo {
	margin-top: 18px;
	background: url(../images/seo_bg.png) 0 0 repeat;
}

.b-seo p {
	margin-bottom: 15px;
}

.b-seo__head {
	font-size: 19.4px;
	padding: 15px 30px 0 30px;
	height: 33px;
	background: url(../images/seo_header.png) 0 0 no-repeat;
}

.b-seo__text {
	padding: 16px 16px 40px 16px;
}

.b-seo__text__bigger {
	font-size: 16.7px;
}

.b-greenhint {
	/*border-top: 1px solid #808080;*/
	margin-top: 20px;
	padding: 0 16px 0 16px;
}

.b-greenhint a {
	color: #000;
}

.b-greenhint__block {
	background: url(../images/greenhint_bg.png) 0 0 no-repeat;
	border: 2px solid #afd85b;
	border-radius: 9px;
	padding: 19px 15px 0 330px;
	height: 134px;
}

.b-productinfo {
	background: url(../images/seo_bg.png) 0 0 repeat;
	margin-bottom: 40px;
}

.b-productinfo__head {
	background: url(../images/product_info_header.png) 0 0 no-repeat;
	font-size: 19.4px;
	padding:  10px 0 0 29px;
	height: 35px;
}

.b-productinfo__text {
	padding: 16px;
	overflow: hidden;
}

.b-productinfo__image {
	float: left;
	margin: 0 16px 16px 0;
}

.b-productinfo__image_2 {
	margin: 0 0 16px 0;
}

.b-productinfo__button {
	display: inline-block;
	background: url(../images/sprite.png) -397px -185px no-repeat;
	width: 103px;
	padding-top: 6px;
	height: 29px;
	float: right;
	text-align: center;
	color: #000;
	margin-top: 16px;
}

.b-productinfo__cat {
	margin: 32px auto 35px auto;
	padding: 16px 16px 20px 16px;
	height: 260px;
	background: url(../images/product_info_cat.png) 0 0 no-repeat;
	font-size: 16.7px;
}

.b-productinfo__cat_2 {
	background-image: url(../images/product_info_cat2.png);
}

.b-productinfo__cat__list {
	margin: 14px 0 10px 20px;
	padding: 0;
	list-style-image: url(../images/product_info_tick.png);
}

.b-productinfo__cat__list a {
	color: #000;
}

.b-p13n {
	padding: 4px;
	background-color: #4d4d4d;
	border-radius: 4px;
	margin-bottom: 40px;
	position: relative;
	min-width: 680px;
}

.b-p13n__back {
	display: inline-block;
	padding-left: 27px;
	text-decoration: none;
	color: #4c4c4c;
	font-size: 15.3px;
	margin-bottom: 9px;
}

.b-p13n__back__arrow {
	display: inline-block;
	width: 11px;
	height: 16px;
	background: url(../images/sprite.png) -382px -16px no-repeat;
	position: relative;
	top: 3px;
}

.i-p13n__main {
	position: absolute;
	top: 0;
	left: 0;
	width: 733px;
	height: 100%;
}

.b-p13n__main {
	top: 4px;
	right: 0;
	bottom: 4px;
	left: 4px;
	border: 1px solid #fff;
	margin-right: 4px;
	border-radius: 4px;
	position: absolute;
	overflow: hidden;
	background-color: #e6e6e6;
}

.b-p13n__example {
	padding-top: 42px;
	border: 2px solid #999999;
	border-radius: 4px 4px 0 0;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 78px;
}

.b-p13n__example_noselect {
	padding-top: 0;
}

.b-p13n__example__select {
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 500;
}

.b-p13n__example__color {
	display: block;
	float: left;
	padding: 2px;
	background-color: #fff;
	border: 1px solid #4d4d4d;
}

.b-p13n__example__color i {
	display: block;
	width: 14px;
	height: 14px;
}

.b-exampleselect {
	font-size: 15.3px;
	display: inline-block;
	position: relative;
	border: 1px solid #545454;
	border-radius: 4px;
	background-color: #ededed;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #EDEDED)
	);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #EDEDED 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #EDEDED 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #EDEDED 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #EDEDED 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #EDEDED 100%);
}

.b-exampleselect__main {
	display: block;
	cursor: pointer;
	background: url(../images/pselect_bg.png) right center no-repeat;
	padding-right: 23px;
}

.b-exampleselect__text {
	font-weight: normal;
	position: relative;
	z-index: 150;
	display: inline-block;
	height: 24px;
	padding: 4px 10px 0 10px;
	white-space: nowrap;
}

.b-p13n__example__colorselect {
	position: absolute;
	top: 31px;
	left: 0;
	display: none;
	border: 1px solid #4d4d4d;
	border-radius: 6px;
	background-color: #fff;
	z-index: 700;
	overflow: hidden;
}

.b-p13n__example__colorselect .colorpicker_new_color, .b-p13n__example__colorselect .colorpicker_current_color, .b-p13n__example__colorselect .colorpicker_hex, .b-p13n__example__colorselect .colorpicker_submit, .b-p13n__example__colorselect .colorpicker_field {
	display: none;
}

.b-p13n__example__colorselect .colorpicker {
	width: 215px;
	background: url(../images/colorpicker_background.png) 5px 6px no-repeat #fff;
}

.b-p13n__example__colorselect__controls {
	padding: 0 12px 6px 12px;
	font-size: 13px;
}

.b-p13n__example__colorselect__controls .b-button {
	font-size: 13px;
	width: 53px;
	padding: 2px 0;
	border-radius: 4px;
}

.b-p13n__example__colorselect__hex {
	width: 53px;
	text-align: center;
	border: 1px solid #a1a1a1;
	padding: 2px 0;
	font-size: 13px;
	background-color: #fff;
	color: #000;
}

.i-p13n__example__image {
	display: table;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 719px;
}

.b-p13n__example__image {
	display: table-cell;
	/*width: 719px;*/
	/*height: 564px;*/
	vertical-align: middle;
	text-align: center;
}

.b-p13n__bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 78px;
	background: url(../images/p13n_bottom_bg.png) 0 0 no-repeat;
}

.b-p13n__bottom__title {
	width: 115px;
	float: left;
	height: 50px;
	padding-top: 28px;
	text-align: center;
	font-size: 16.7px;
}

.b-p13n__bottom__title_2str {
	padding-top: 18px;
	height: 60px;
}

.b-p13n__bottom__gallery {
	width: 459px;
	float: left;
	height: 73px;
	padding-top: 5px;
}

.b-p13n__bottom__gallery__item {
	display: block;
	float: left;
	margin-left: 10px;
	padding: 1px;
	border: 1px solid #4e4e4e;
	border-radius: 4px;
	background-color: #fff;
	height: 60px;
	width: 60px;
	position: relative;
}

.b-p13n__bottom__gallery__item_min {
	width: 56px;
	height: 56px;
	overflow: hidden;
}

.b-p13n__bottom__gallery__item_min img {
	width: 56px;
	height: 56px;
}

.b-p13n__bottom__gallery__item:hover {
	border-color: #000;
}

.b-p13n__bottom__gallery__item:hover div:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 60px;
	height: 60px;
	background-color: #fff;
	opacity: 0.5;
}

.b-p13n__bottom__gallery__color {
	width: 53px;
	height: 53px;
	display: block;
	float: left;
	margin-left: 10px;
	margin-top: 2px;
	border: 1px solid #fff;
	border-radius: 50%;
}

.b-p13n__bottom__gallery__color.selected {
	box-shadow: 0 0 0 2px #a8e900;
	border-color: #000;
}

.b-p13n__bottom__save {
	float: left;
	margin-left: 19px;
	padding-top: 19px;
	width: 130px;
}

.b-p13n__bottom__save__link {
	display: inline-block;
	font-size: 13.9px;
	color: #000;
	text-decoration: none;
	white-space: nowrap;
}

.b-p13n__bottom__save__link .b-button {
	float: left;
	margin-right: 5px;
	border-radius: 5px;
	border: 1px solid #4d4d4d;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #a5a6a5)
	);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #a5a6a5 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #a5a6a5 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #a5a6a5 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #a5a6a5 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #a5a6a5 100%);
}

.b-p13n__bottom__save__link b {
	/*text-decoration: underline;*/
	font-weight: normal;
}

.b-p13n__bottom__save__link:hover b {
	text-decoration: none;
}

.b-p13n__bottom__save__link:hover .b-button {
	border-color: #636363;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #F1F1F1),
		color-stop(1, #DDDDDD)
	);
	background-image: -o-linear-gradient(bottom, #F1F1F1 0%, #DDDDDD 100%);
	background-image: -moz-linear-gradient(bottom, #F1F1F1 0%, #DDDDDD 100%);
	background-image: -webkit-linear-gradient(bottom, #F1F1F1 0%, #DDDDDD 100%);
	background-image: -ms-linear-gradient(bottom, #F1F1F1 0%, #DDDDDD 100%);
	background-image: linear-gradient(to bottom, #F1F1F1 0%, #DDDDDD 100%);
}

.b-p13n__right {
	width: 287px;
	float: right;
}

.b-p13n__right__block {
	border: 1px solid #fff;
	border-radius: 4px;
	margin-bottom: 2px;
}

.b-p13n__right__block:last-child {
	margin-bottom: 0;
}

.b-p13n__right__block__top {
	height: 25px;
	background: url(../images/p13n_right_top.png) 0 0 no-repeat;
	padding: 4px 29px 0 29px;
	font-size: 16.7px;
}

.b-p13n__right__block__top__right {
	float: right;
	color: #4c4c4c;
	font-size: 13.9px;
	padding-top: 3px;
}

.b-p13n__right__block__bottom {
	height: 8px;
	background: url(../images/p13n_right_bottom.png) 0 0 no-repeat;
}

.b-p13n__right__block__mid {
	background: url(../images/p13n_right_mid.png) 0 0 repeat;
	padding: 0 4px;
}

.b-p13n__right__block__content {
	border: 2px solid #88634d;
	border-bottom: none;
	background: url(../images/p13n_right_bg.png) 0 0 repeat;
	padding: 5px 21px 3px 21px;
	font-size: 13.9px;
}

.b-p13n__right__block__content_overflow {
	overflow: hidden;
}

.b-p13n__right__block__content_wider {
	padding: 5px 5px 3px 5px;
}

.b-p13n__right__selectwrapper {
	border: 2px solid #a8e900;
	border-radius: 4px;
}

.b-p13n__right__block__content .b-pselect {
	width: 100%;
	font-size: 16.7px;
}

.b-p13n__right__block__content .b-button {
	width: 100px;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #a5a6a5)
	);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #a5a6a5 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #a5a6a5 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #a5a6a5 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #a5a6a5 100%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #a5a6a5 100%);
	border: 1px solid #4d4d4d;
	font-size: 15.3px;
	padding: 6px 5px 8px 5px;
}

.b-p13n__right__block__content__center {
	text-align: center;
	margin-bottom: 3px;
	position: relative;
	top: -1px;
}

.b-p13n__right__frame {
	display: block;
	float: left;
	border: 2px solid transparent;
	position: relative;
	border-radius: 4px;
	text-decoration: none;
	color: #000;
	margin-bottom: 1px;
}

.b-p13n__right__frame__in {
	/*border: 1px solid #8d674e;*/
	background-color: rgba(0, 0, 0, .1);
	background: url(../images/sprite.png) -268px -353px no-repeat;
	text-align: center;
	font-size: 12.5px;
	border-radius: 4px;
	position: relative;
	color: #fff;
	height: 90px;
	width: 54px;
}

.b-p13n__right__frame:hover .b-p13n__right__frame__helper {
	border-color: #000;
}

.b-p13n__right__frame:hover .b-p13n__right__frame__helper:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 65px;
	background-color: rgba(0, 0, 0, .05);
	display: block;
	z-index: 200;
}

.b-p13n__right__frame__helper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 65px;
	border: 1px solid #4d4d4d;
	border-radius: 3px;
}

.b-p13n__right__frame__external {
	position: absolute;
	right: 2px;
	top: 2px;
	height: 21px;
	width: 20px;
	background: url(../images/sprite.png) -435px -233px no-repeat;
}

.b-p13n__right__frame__title {
	position: absolute;
	left: 1px;
	right: 1px;
	top: 69px;
}

.b-p13n__right__frame__in img {
	border: 1px solid #fff;
	border-radius: 2px;
	position: absolute;
	top: 1px;
	left: 1px;
}

.b-p13n__right__frame.active {
	border-color: #a8e900;
}

.b-p13n__right__frame.active:after {
	background: url("../images/sprite.png") -85px -153px no-repeat;
	width: 17px;
	height: 15px;
	content: '';
	display: block;
	position: absolute;
	top: 2px;
	right: 1px;	
}

.b-p13n__right__frame_right {
	margin-left: 8px;
}

.b-p13n__right__frame_bigger .b-p13n__right__frame__in {
	background: url(../images/sprite.png) -255px -258px no-repeat;
	width: 67px;
}

.b-p13n__right__frame_bigger_first {
	margin-left: 12px;
}

.b-p13n__right__frame_signed {
	margin-bottom: 21px;
}

.b-p13n__right__frame__sign {
	position: absolute;
	top: 95px;
	left: -50px;
	right: -50px;
	color: #000;
	text-align: center;
}

.b-p13n__right__fact {
	display: block;
	width: 59px;
	height: 80px;
	background: url(../images/sprite.png) -263px -153px no-repeat;
	float: left;
	border-radius: 4px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	margin-right: 3px;
	margin-bottom: 7px;
	border: 2px solid transparent;
	overflow: hidden;
	background-clip: padding-box;
}

.b-p13n__right__fact:nth-child(4n) {
	margin-right: 0;
}

.b-p13n__right__fact.active {
	border-color: #a8e900;
}

.b-p13n__right__fact_signed {
	margin-bottom: 30px;
	position: relative;
	overflow: visible;
}

.b-p13n__right__fact__image {
	height: 53px;
	width: 53px;
	padding: 2px;
	display: table-cell;
	border: 1px solid #4d4d4d;
	vertical-align: middle;
	color: #000;
	word-break: break-all;
	font-size: 12.5px;
	text-shadow: 1px 1px 0 #fff, 0 1px 0 #fff, -1px -1px 0 #fff, -1px 0 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff;
}

.b-p13n__right__fact__price {
	padding-top: 1px;
	height: 18px;
	border-radius: 0 0 3px 3px;
}

.b-p13n__right__fact__price_sale {
	background: url(../images/sprite.png) -264px -234px no-repeat;
	margin: 1px 1px 0 1px;
}

.b-p13n__right__fact__sign {
	position: absolute;
	left: 0;
	bottom: -22px;
	color: #000;
	font-size: 13.9px;
	right: 0;
}

.b-p13n__right__fact.active .b-p13n__right__fact__image {
	border-color: #000;
}

.b-p13n__right__tonal {
	padding: 2px 12px;
	margin: 0 auto;
	overflow: hidden;
	width: 193px;
	background: url(../images/p13n_right_tonal.png) center center no-repeat;
}

.b-p13n__right__tonal__item {
	display: block;
	color: #333333;
	float: left;
	margin: 2px 6px 1px 0;
	border: 2px solid transparent;
	text-decoration: none;
}

.b-p13n__right__tonal__item.active {
	border-color: #a8e900;
	border-radius: 50%;
}

.b-p13n__right__tonal__item:nth-child(3n) {
	margin-right: 0;
}

.b-p13n__right__tonal__item__in {
	display: table-cell;
	width: 53px;
	height: 53px;
	font-size: 12.5px;
	border: 1px solid #fff;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
}

.b-p13n__right__tonal__item.active .b-p13n__right__tonal__item__in {
	border-color: #000;
}

.i-p13n__right__price {
	display: table;
}

.b-p13n__right__price {
	display: table-cell;
	vertical-align: middle;
	height: 63px;
	width: 262px;
	/*padding-left: 3px;
	padding-top: 8px;*/
	font-size: 15.3px;
	position: relative;
	padding-left: 1px;
}

.b-p13n__right__price b {
	margin-right: 5px;
	display: block;
}

.b-p13n__right__price__single {
	padding-top: 12px;
}

.b-p13n__right__price__min {
	font-size: 13.9px;
	/*margin-bottom: 6px;*/
}

.b-p13n__right__price__red {
	color: #b50000;
	text-shadow: 0px 0px 0px #ff0000, 0px 0px 10px #ffe1c2;
}

.b-p13n__right__price__button {
	position: absolute;
	top: 8px;
	left: 135px;
	padding: 9px;
	width: 105px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid #4f554a;
	border-radius: 10px;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #a8e800),
		color-stop(1, #719d00)
	);
	background-image: -o-linear-gradient(bottom, #a8e800 0%, #719d00 100%);
	background-image: -moz-linear-gradient(bottom, #a8e800 0%, #719d00 100%);
	background-image: -webkit-linear-gradient(bottom, #a8e800 0%, #719d00 100%);
	background-image: -ms-linear-gradient(bottom, #a8e800 0%, #719d00 100%);
	background-image: linear-gradient(to bottom, #a8e800 0%, #719d00 100%);
	font-size: 16.7px;
	white-space: nowrap;
}

.b-p13n__right__price__button:hover {
	border-color: #000;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #8BE112),
		color-stop(1, #3B8019)
	);
	background-image: -o-linear-gradient(bottom, #8BE112 0%, #3B8019 100%);
	background-image: -moz-linear-gradient(bottom, #8BE112 0%, #3B8019 100%);
	background-image: -webkit-linear-gradient(bottom, #8BE112 0%, #3B8019 100%);
	background-image: -ms-linear-gradient(bottom, #8BE112 0%, #3B8019 100%);
	background-image: linear-gradient(to bottom, #8BE112 0%, #3B8019 100%);
}

.b-p13n__right__price__button_2 {
	position: static;
	padding-top: 7px;
	padding-bottom: 11px;
}

.b-p13n__right__price__button span {
	display: inline-block;
	width: 15px;
	height: 12px;
	background: url(../images/sprite.png) -53px -153px no-repeat;
}

.b-p13n__right__chooseown {
	font-size: 16.7px;
	margin-top: 2px;
}

.b-p13n__right__chooseown__title {
	margin-bottom: 3px;
}

.i-p13n__right__chooseown__input {
	border: 2px solid transparent;
	display: inline-block;
	border-radius: 6px;
}

.i-p13n__right__chooseown__input.active {
	border-color: #a8e900;
}

.b-p13n__right__chooseown__input {
	width: 60px;
	padding: 3px 9px 7px 9px;
	font-size: 15.3px;
	border: 1px solid #545454;
	border-radius: 4px;
}

.b-p13n__right__chooseown__x {
	margin: 0 8px;
}

.b-p13n__right__chooseown__input_highlight {
	box-shadow: 0 0 0 2px #a8e900;
}

.b-p13n__right__chooseown__lock {
	display: inline-block;
	width: 10px;
	height: 17px;
	margin: 0 2px;
	background: url(../images/sprite.png) -164px -220px no-repeat;
}

.b-p13n__right__chooseown__hint {
	font-size: 12.5px;
	width: 85px;
	display: inline-block;
	margin: 0 12px 0 9px;
	position: relative;
	top: -2px;
}

.b-p13n__right__chooseown__hint_center {
	width: 84px;
	margin: 0 21px 3px 0;
	text-align: center;
}

.b-p13n__right__param {
	border: 2px solid #a8e900;
	border-radius: 6px;
	margin-bottom: 4px;
	margin-top: 7px;
}

.i-p13n__right__param {
	padding: 5px 8px;
	border: 1px solid #8c644c;
	border-radius: 4px;
	font-size: 16.7px;
	color: #fff;
	background-color: rgba(127, 79, 51, .3);
}

.b-slider {
	width: 991px;
	margin: 0 auto 50px auto;
}

.b-slider__title {
	margin-bottom: 15px;
	font-size: 19.4px;
}

.b-slider__wrap {
	height: 260px;
	position: relative;
	background: url(../images/slider_bg.png) center top no-repeat;
}

.b-slider__list {
	width: 872px;
	height: 260px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.i-slider__list {
	width: 200%;
	height: 260px;
	position: absolute;
	left: 0;
	top: 0;
}

.b-slider__left {
	position: absolute;
	left: 0;
	top: 110px;
	width: 32px;
	height: 32px;
	background: url(../images/sprite.png) -102px -153px no-repeat;
}

.b-slider__right {
	position: absolute;
	right: 0;
	top: 110px;
	width: 32px;
	height: 32px;
	background: url(../images/sprite.png) -134px -153px no-repeat;
}

.b-p13n2 {
	height: 734px;
	position: relative;
	background: url(../images/p13n_bg_2.png) 0 0 no-repeat;
	margin-bottom: 40px;
}

.b-p13n2__block {
	width: 424px;
	float: left;
	margin-left: 50px;
}

.b-p13n2__block_2 {
	margin-left: 85px;
}

.b-p13n2__block__title {
	font-size: 19.4px;
	padding-top: 30px;
	height: 55px;
}

.b-p13n2__block__text {
	padding-top: 5px;
	height: 392px;
	font-size: 16.7px;
}

.b-p13n2__block__choose {
	margin-top: 97px;
	text-align: center;
}

.b-p13n2__block__choose__tick {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../images/sprite.png) -191px -153px no-repeat;
	position: relative;
	top: 5px;
}

.b-p13n2__block__choose a {
	color: #000;
	text-decoration: none;
}

.b-p13n2__block__choose a:hover .b-p13n2__block__choose__tick {
	background-position: -166px -153px;
}

.b-p13n2__block__choose__tick.active {
    background-position: -166px -153px;
}

.b-p13n2__bottom {
	height: 45px;
	margin-top: 57px;
}

.b-p13n2__bottom .b-p13n__right__price__button {
	float: right;
	margin-right: 20px;
}

.b-textblock {
	background: url(../images/seo_bg.png) 0 0 repeat;
	margin-bottom: 40px;
}

.b-textblock__head {
	background: url(../images/text_header.png) 0 0 no-repeat;
	font-size: 19px;
	padding:  12px 0 0 29px;
	height: 33px;
}

.b-textblock__text {
	padding: 16px 16px 60px 16px;
	overflow: hidden;
}