{% load thumbnail %}

<div class="b-gallery">
  <div class="b-gallery__buttons">
    <a href="#" class="b-button"><span class="b-button__bookmark"></span> В избранное</a>
    <a href="#" class="b-button"><span class="b-button__cart"></span> Заказать</a>
    <a href="#" class="b-button"><span class="b-button__catalog"></span> Каталог</a>
  </div>

  <div class="b-gallery__head">
    <div class="b-gallery__title">{{ item.get_article }} {{ item.get_title }}</div>
    <div class="b-gallery__price">Цена: {{ item.get_price }}р. за м2</div>
    {% if item.exist %}
      <div class="b-gallery__green">в наличии{% if item.discount %}<span></span>{% endif %}</div>
    {% else %}
      <b class="b-good__title__period">{{ item.creating }}</b>
    {% endif %}
    <div class="b-gallery__desc">{{ item.get_main_title }}</div>
  </div>

  <div class="b-gallery__image">
    {% thumbnail item.image "800x599" crop="center" as im %}
      <img src="{{ im.url }}" alt="{{ item.get_title }}">
    {% endthumbnail %}
    <a href="#" class="b-gallery__arrow b-gallery__arrow_left"></a>
    <a href="#" class="b-gallery__arrow b-gallery__arrow_right"></a>
  </div>

  <div class="b-gallery__min">
    <div>
      {% thumbnail item.image "800x599" crop="center" as big_im %}
        {% thumbnail item.image "105x80" crop="center" as min_im %}
          <a href="#" class="b-gallery__min__item active" data-image="{{ big_im.url }}">
            <img src="{{ min_im.url }}" alt="{{ image.get_title }}"></a>
        {% endthumbnail %}
      {% endthumbnail %}
      {% for image in images %}
        {% thumbnail image.image "800x599" crop="center" as big_im %}
          {% thumbnail image.image "105x80" crop="center" as min_im %}
            <a href="#" class="b-gallery__min__item" data-image="{{ big_im.url }}">
              <img src="{{ min_im.url }}" alt="{{ image.title }}"></a>
          {% endthumbnail %}
        {% endthumbnail %}
      {% endfor %}
    </div>
    <div class="i-clear"></div>
  </div>
</div>
