{% load core_tags %}
{% list_to_columns cities as lists 3 %}
{% for list in lists %}
  <div class="b-cityselect__col">
    {% for city in list %}
      <a href="{{ city.get_url }}?next={{ current_url }}">{{ city.get_title }}</a><br>
    {% endfor %}
  </div>
{% endfor %}
