<div class="b-footer__cols">
    {% for page in pages %}
        <div class="b-footer__cols__col">
            <div class="b-footer__cols__col__link">
                <a href="{{ page.get_url }}">{{ page.get_title }}</a>
            </div>
            {{ page.get_description|safe }}
        </div>
    {% endfor %}
    <div class="i-clear"></div>
</div>
