{% load thumbnail %}
<div class="b-mainbanners">
  {% for menu_item in menu_items %}
    {% thumbnail menu_item.image "197x731" crop="center" as im %}
      <a href="{{ menu_item.get_url }}" class="b-mainbanners__banner">
        <div class="i-mainbanners__banner" style="background: url({{ im.url }});"></div>
        <div class="b-mainbanners__banner__sign">
          <div class="b-mainbanners__banner__sign">
            <div class="b-mainbanners__banner__title">
              {{ menu_item.description|safe }}
            </div>
          </div>
        </div>
      </a>
    {% endthumbnail %}
  {% endfor %}
</div>
