{% load catalog_tags %}

Отображать:
{% for on_page_variant in on_page_variants %}
    <a href="{% get_p "op" on_page_variant %}" class="b-pager__link {% if on_page == on_page_variant %}active{% endif %}">{{ on_page_variant }}</a>
{% endfor %}

{% if goods.paginator.num_pages > 0 %}
Страницы:
    {% for x in goods.befor_list %}
        <a href="{% get_p "p" x %}" class="b-pager__link">{{ x }}</a>
    {% endfor %}
    <a href="" class="b-pager__link active">{{ goods.number }}</a>
    {% for x in goods.after_list %}
        <a href="{% get_p "p" x %}" class="b-pager__link">{{ x }}</a>
    {% endfor %}
{% endif %}
