<div class="b-footer__cols__col">
    {% for page in pages %}
        <div class="b-footer__cols__col__link b-footer__cols__col__link_min">
            <a href="{{ page.get_url }}">{{ page.get_title }}</a>
        </div>
    {% endfor %}
</div>
