<div class="b-p13n__right__block">
    <div class="b-p13n__right__block__top">Расчет стоимости</div>
    <div class="b-p13n__right__block__mid">
        <div class="b-p13n__right__block__content b-p13n__right__block__content_wider">
            <div class="b-p13n__right__price">
                <span class="b-p13n__right__price__right">
                    <span class="b-p13n__right__price__min">Цена: 0000р за м&sup2; </span><br>
                    <b>Сумма: 00000р</b>
                </span>
                <a href="" class="b-p13n__right__price__button" ng-click="addToCard()"><span></span> Корзина</a>
            </div>
        </div>
    </div>
    <div class="b-p13n__right__block__bottom"></div>
</div>
