<div class="b-p13n__right__block">
    <div class="b-p13n__right__block__top">Выбор размера</div>
    <div class="b-p13n__right__block__mid">
        <div class="b-p13n__right__block__content">
            <select class="custom_pselect">
                {% for size in item_type.size_display_to.all %}
                    <option value="{{ size.id }}">{{ size }}</option>
                {% endfor %}
            </select>
            <div class="b-p13n__right__chooseown">
            Или укажите необходимый:<br>
            <input type="text" placeholder="ширина" class="b-p13n__right__chooseown__input" ng-model="options.width" ng-change="changeWidth()">
            <span class="b-p13n__right__chooseown__x">×</span>
            <input type="text" placeholder="высота" class="b-p13n__right__chooseown__input" ng-model="options.height" ng-change="changeHeight()"><br>
            <span class="b-p13n__right__chooseown__hint" ng-init="options.max_width={{ item_type.max_width }}">
                макс. {{ options.max_width }}см
            </span>
            <span class="b-p13n__right__chooseown__hint" ng-init="options.max_height={{ item_type.max_height }}">
                макс. {{ options.max_height }}см
            </span>

            </div>
        </div>
        <div class="b-p13n__right__block__content b-p13n__right__block__content_wider i-center">
            <a href="" class="b-button" ng-click="startCrop()" ng-hide="cropIsActive"><span class="b-button__crop"></span> Обрезать</a>
            <a href="" class="b-button auto-width" ng-click="makeCrop()" ng-if="cropIsActive"><span class="b-button__crop"></span> ок</a>
            {% comment %}
            <a href="" class="b-button auto-width" ng-click="destroyCropper()" ng-if="cropIsActive"><span class="b-button__crop"></span> отмена</a>
            <a href="" class="b-button" ng-click="flipImage()"><span class="b-button__flip"></span> Отразить</a>
            {% endcomment %}
        </div>
    </div>
    <div class="b-p13n__right__block__bottom"></div>
</div>
