<div class="b-p13n__right__block">
    <div class="b-p13n__right__block__top">Выбор оформления</div>
    <div class="b-p13n__right__block__mid">
        <div class="b-p13n__right__block__content b-p13n__right__block__content_overflow b-p13n__right__block__content_wider">
            <div class="b-p13n__right__block__content__center">На подрамнике или в рулоне</div>
            <a href="" class="b-p13n__right__frame" ng-click="setStretcher('{{ STRETCHER_BLACK }}')">
                <div class="b-p13n__right__frame__in">
                    <div class="b-p13n__right__frame__helper"></div>
                    <img src="{{ STATIC_URL }}tmp_images/frame1.png" alt=""><br>
                    <div class="b-p13n__right__frame__title">черный</div>
                </div>
            </a>
            <a href="" class="b-p13n__right__frame" ng-click="setStretcher('{{ STRETCHER_WHITE }}')">
                <div class="b-p13n__right__frame__in">
                    <div class="b-p13n__right__frame__helper"></div>
                    <img src="{{ STATIC_URL }}tmp_images/frame2.png" alt=""><br>
                    <div class="b-p13n__right__frame__title">белый</div>
                </div>
            </a>
            <a href="" class="b-p13n__right__frame active"
               ng-click="setStretcher('{{ STRETCHER_PICTURE }}')"
               ng-init="setStretcher('{{ STRETCHER_PICTURE }}')">

                    <div class="b-p13n__right__frame__in">
                    <div class="b-p13n__right__frame__helper"></div>
                    <img src="{{ STATIC_URL }}tmp_images/frame3.png" alt=""><br>
                    <div class="b-p13n__right__frame__title">рисунок</div>
                </div>
            </a>
            <a href="" class="b-p13n__right__frame b-p13n__right__frame_right b-p13n__right__frame_bigger" ng-click="setStretcher('{{ STRETCHER_ROLL }}')">
                <div class="b-p13n__right__frame__in">
                    <div class="b-p13n__right__frame__helper"></div>
                    <img src="{{ STATIC_URL }}tmp_images/frame_roll.png" alt=""><br>
                    <div class="b-p13n__right__frame__title">-000р.</div>
                </div>
            </a>
        </div>
        <div class="b-p13n__right__block__content b-p13n__right__block__content_overflow b-p13n__right__block__content_wider">
            <a href="" class="b-p13n__right__frame b-p13n__right__frame_bigger b-p13n__right__frame_bigger_first b-p13n__right__frame_signed active"
               ng-click="setCover('{{ COVER_BAGUETTE }}')" ng-init="setCover('{{ COVER_BAGUETTE }}')">
                <div class="b-p13n__right__frame__in">
                    <div class="b-p13n__right__frame__helper"></div>
                    <img src="{{ STATIC_URL }}tmp_images/fac1.png" alt=""><br>
                    <div class="b-p13n__right__frame__title">черный</div>
                    <div class="b-p13n__right__frame__external"></div>
                    <div class="b-p13n__right__frame__sign">Багет</div>
                </div>
            </a>
            <a href="" class="b-p13n__right__frame b-p13n__right__frame_right b-p13n__right__frame_bigger b-p13n__right__frame_signed" ng-click="setCover('{{ COVER_GEL }}')">
                <div class="b-p13n__right__frame__in">
                    <div class="b-p13n__right__frame__helper"></div>
                    <img src="{{ STATIC_URL }}tmp_images/fac2.png" alt=""><br>
                    <div class="b-p13n__right__frame__title">белый</div>
                    <div class="b-p13n__right__frame__sign">Фактурный гель</div>
                </div>
            </a>
            <a href="" class="b-p13n__right__frame b-p13n__right__frame_right b-p13n__right__frame_bigger b-p13n__right__frame_signed" ng-click="setCover('{{ COVER_LACQUER }}')">
                <div class="b-p13n__right__frame__in ">
                    <div class="b-p13n__right__frame__helper"></div>
                    <img src="{{ STATIC_URL }}tmp_images/fac3.png" alt=""><br>
                    <div class="b-p13n__right__frame__title">рисунок</div>
                    <div class="b-p13n__right__frame__sign">Лак</div>
                </div>
            </a>
        </div>
    </div>
    <div class="b-p13n__right__block__bottom"></div>
</div>
