{% load thumbnail %}
<div class="b-p13n__right__block">
    <div class="b-p13n__right__block__top"><span class="b-p13n__right__block__top__right">(Цена за м&sup2;)</span>Выбор фактуры</div>
    <div class="b-p13n__right__block__mid">
        <div class="b-p13n__right__block__content b-p13n__right__block__content_overflow b-p13n__right__block__content_wider">
            {% for texture in textures %}
                {% thumbnail texture.texture '57x57' crop='center' as im %}
                    <a href="" class="b-p13n__right__fact" ng-click="setTexture({{ texture.id }}, '{{ texture.texture.url }}')">
                        <span style="background: url({{ im.url }}) 0 0 no-repeat;"
                              class="b-p13n__right__fact__image">{{ texture.get_title }}
                        </span>
                        <span class="b-p13n__right__fact__price">{{ texture.price }} р</span>
                    </a>
                {% endthumbnail %}
            {% endfor %}
        </div>
    </div>
    <div class="b-p13n__right__block__bottom"></div>
</div>
