<div class="b-p13n__right__block">
    <div class="b-p13n__right__block__top">Выбор тональности</div>
    <div class="b-p13n__right__block__mid">
        <div class="b-p13n__right__block__content">
            <div class="b-p13n__right__tonal">
                <a href="#" class="b-p13n__right__tonal__item active" ng-click="setToneOptions('empty')">
                    <div class="b-p13n__right__tonal__item__in" style="background-color: #c9e4ef;">Норм.</div>
                </a>
                <a href="#" class="b-p13n__right__tonal__item" ng-click="setToneOptions('bw_cold')">
                    <div class="b-p13n__right__tonal__item__in" style="background-color: #7c818e;">Ч/б<br>хол.</div>
                </a>
                <a href="#" class="b-p13n__right__tonal__item" ng-click="setToneOptions('bw_warm')">
                    <div class="b-p13n__right__tonal__item__in" style="background-color: #858585;">Ч/б<br>тепл.</div>
                </a>
                <a href="#" class="b-p13n__right__tonal__item" ng-click="setToneOptions('sepia')">
                    <div class="b-p13n__right__tonal__item__in" style="background-color: #b78e5a;">Сепия</div>
                </a>
                <a href="#" class="b-p13n__right__tonal__item" ng-click="setToneOptions('ochre')">
                    <div class="b-p13n__right__tonal__item__in" style="background-color: #c98937;">Охра</div>
                </a>
                <a href="#" class="b-p13n__right__tonal__item" ng-click="setToneOptions('sanguine')">
                    <div class="b-p13n__right__tonal__item__in" style="background-color: #de7050;">Сангина</div>
                </a>
                <div class="i-clear"></div>
            </div>
        </div>
    </div>
    <div class="b-p13n__right__block__bottom"></div>
</div>
