{% extends 'base.html' %}

{% load flatblock_tags %}

{% block javascript %}
	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}js/p13n.js"></script>
{% endblock %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/custom_select.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}colorpicker/css/colorpicker.css" />
{% endblock %}

{% block content_head %}
	<div class="b-button b-contenthead__button"><span class="b-button__bookmark"></span> В избранное</div>
	<div>Персонализация изображения</div>
	<div class="b-breadcrumbs">
		<a href="{% url 'printwall.views.home' %}">Главная</a> / <a href="{{ item_type.get_url }}">{{ item_type.main_title }}</a> / {{ item.get_article }} «{{ item.get_title }}»
	</div>
{% endblock %}

{% block content %}
	<div class="b-p13n2">
		<div class="b-p13n2__block">
			<div class="b-p13n2__block__title">
				{% flatblock 'flizelin_fresco_title' %}
			</div>
			<div class="b-p13n2__block__text">
				{% flatblock 'flizelin_fresco_body' %}
			</div>
			<div class="b-p13n2__block__choose">
			  <a href="#" class="b-p13n2__block__link" data="{% url 'item_by_id_with_texture' item.id FRESCO_F %}"><span class="b-p13n2__block__choose__tick"></span> <u>Выбрать</u></a>
      </div>
		</div>
		<div class="b-p13n2__block b-p13n2__block_2">
			<div class="b-p13n2__block__title">
				{% flatblock 'big_fresco_title' %}
			</div>
			<div class="b-p13n2__block__text">
				{% flatblock 'big_fresco_body' %}
			</div>
			<div class="b-p13n2__block__choose">
        <a href="#" class="b-p13n2__block__link" data="{% url 'item_by_id_with_texture' item.id FRESCO_B %}"><span class="b-p13n2__block__choose__tick"></span> <u>Выбрать</u></a>
			</div>
		</div>
		<div class="i-clear"></div>
		<div class="b-p13n2__bottom">
{% verbatim %}
			<a href="{{ next_url }}" class="b-p13n__right__price__button b-p13n__right__price__button_2">Продолжить</a>
{% endverbatim %}
		</div>
	</div>

	{% include 'personalization_slider.html' %}
{% endblock %}