{% extends 'base.html' %}

{% load thumbnail %}

{% block javascript %}
	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}js/custom_select.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}colorpicker/js/colorpicker.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/p13n.js"></script>
{% endblock %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/custom_select.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}colorpicker/css/colorpicker.css" />
{% endblock %}

{% block content_head %}
	<div class="b-button b-contenthead__button"><span class="b-button__bookmark"></span> В избранное</div>
	<div>Персонализация изображения</div>
	<div class="b-breadcrumbs">
		<a href="{% url 'printwall.views.home' %}">Главная</a> / <a href="{{ item_type.get_url }}">{{ item_type.main_title }}</a> / {{ item.get_article }} «{{ item.get_title }}»
	</div>
{% endblock %}

{% block content %}
	<a href="#" class="b-p13n__back">
		<span class="b-p13n__back__arrow"></span>
		<u>Вернуться к выбору материала</u>
	</a>

	<div class="b-p13n">
		<div class="i-p13n__main">
			<div class="b-p13n__main">
				<div class="b-p13n__example">
					<div class="b-p13n__example__select">
						<span class="b-exampleselect" id="p13n_color_select">
							<span data-value="#ff0000" class="b-exampleselect__main">
								<b class="b-exampleselect__text"><i class="b-p13n__example__color"><i style="background-color: #e6e6e6;" data-hex="e6e6e6" id="p13n_color_select_color"></i></i>&nbsp;Цвет&nbsp;стены</b>
							</span>
						</span>
						<div class="b-p13n__example__colorselect">
							<div id="b-p13n__example__colorselect"></div>
							<div class="b-p13n__example__colorselect__controls">
								# <input type="text" class="b-p13n__example__colorselect__hex" id="b-p13n__example__colorselect__hex" disabled>
								<a href="#" class="b-button" id="b-p13n__example__colorselect__ok">ОК</a>
								<a href="#" class="b-button" id="b-p13n__example__colorselect__cancel">Отмена</a>
							</div>
						</div>
					</div>
					<div class="i-p13n__example__image">
						<div class="b-p13n__example__image">
                            {% thumbnail item.image '715x550' as im %}
                                <img src="{{ im.url }}" alt="">
                            {% endthumbnail %}
						</div>
					</div>
				</div>
				<div class="b-p13n__bottom">
					<div class="b-p13n__bottom__title">Галерея</div>
					<div class="b-p13n__bottom__gallery">
						<a href="#" class="b-p13n__bottom__gallery__item">
							<img src="{{ STATIC_URL }}tmp_images/p13n_image_min.png" alt="">
						</a>
						<a href="#" class="b-p13n__bottom__gallery__item">
							<img src="{{ STATIC_URL }}tmp_images/p13n_image_min.png" alt="">
						</a>
					</div>
					<div class="b-p13n__bottom__save">
						<a href="#" class="b-p13n__bottom__save__link">
							<span class="b-button"><span class="b-button__save"></span></span>
							<b>Сохранить<br>проект</b>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="b-p13n__right">
            {% include 'catalog/personalization/parts/size_with_crop.html' %}

            {% include 'catalog/personalization/parts/texture.html' %}

            {% include 'catalog/personalization/parts/tone.html' %}

            {% include 'catalog/personalization/parts/price.html' %}
		</div>
		<div class="i-clear"></div>
	</div>

	{% include 'personalization_slider.html' %}
{% endblock %}