<!DOCTYPE html>
{% load article_tags %}
{% load catalog_tags %}
{% load city_tags %}
{% load flatblock_tags %}
{% load banner_tags %}

{% get_main_menu_items %}
<html>
<head>
  <title>Print wall</title>
  {% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fancybox/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css">
  {% endblock %}
</head>
<body>
{% block header %}
  <div class="b-allheader">
    <header class="b-header">
      <a href="/" class="b-header__logo"></a>
      <div class="b-header__title">Интернет-магазин декоративных настенных покрытий</div>
      <div class="b-header__links">
        <span class="b-header__link b-header__link_phone"><span></span>{{ current_city.phone }}</span>
        <a href="#" class="b-header__link b-header__link_city" id="select_city_link"><span></span>{{ current_city.title }}<b></b></a>
        <!-- <a href="#" class="b-header__link b-header__link_enter"><span></span>Вход</a> -->
        <a href="#" class="b-header__link b-header__link_bookmark"><span></span>Избранное</a>
        <a href="#" class="b-header__link b-header__link_cart"><span></span>Корзина</a>
      </div>
      <a href="#" class="b-header__sale"></a>
      <div class="i-clear"></div>
    </header>
    <nav class="b-menu b-menu_main">
      {% block menu_items %}
        {% main_menu %}
      {% endblock %}
    </nav>
  </div>
{% endblock %}

<div class="b-search">
  <div class="i-search">
    <form action="{% url 'search' %}" class="b-search__form">
      <div class="b-search__title">Воспользуйтесь поиском изображений в нашем каталоге </div>
      <div class="b-search__inputs">
        <input type="text" class="b-search__input" placeholder="Поиск изображений по каталогу">
        <a type="submit" class="b-button" onclick="$('#b-search__form').submit(); return false;">Найти</a>
      </div>
      <div class="b-search__example">Например, <a href="#">Панды</a>, <a href="#">Эйфелева башня</a> или <a href="#">Винни-Пух</a></div>
    </form>
    <a href="#" class="b-search__banner">
      {% banner %}
    </a>
  </div>
</div>

<div class="b-contenthead">
  <div class="i-contenthead">
    <div class="i-contenthead__tc">
      {% block content_head %}
      {% endblock %}
    </div>
  </div>
</div>
<div class="b-content">
  <div class="i-content">
    {% block content %}
    {% endblock %}
  </div>
</div>

<footer class="b-footer">
  <div class="i-footer">
    <div class="b-footer__cols">
      <div class="b-footer__cols__col">
        <div class="b-footer__cols__col__link">
          <a href="#">Гарантия качества</a>
        </div>
        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis.
      </div>
      <div class="b-footer__cols__col">
        <div class="b-footer__cols__col__link">
          <a href="#">Возврат</a>
        </div>
        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis.
      </div>
      <div class="b-footer__cols__col">
        <div class="b-footer__cols__col__link">
          <a href="#">Доставка</a>
        </div>
        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis.
      </div>
      <div class="b-footer__cols__col">
        <div class="b-footer__cols__col__link">
          <a href="#">Оплата</a>
        </div>
        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis.
      </div>
      <div class="i-clear"></div>
    </div>
    <div class="b-footer__socials">
      <div class="b-footer__socials__title">Социальные сети:</div>
      <div style="background-color: #fff; display: inline-block; width: 100px; height: 35px; margin-right: 10px;"></div>
      <div style="background-color: #fff; display: inline-block; width: 50px; height: 50px; margin-right: 10px;"></div>
      <div style="background-color: #fff; display: inline-block; width: 50px; height: 50px; margin-right: 10px;"></div>
      <div style="background-color: #fff; display: inline-block; width: 50px; height: 50px; margin-right: 10px;"></div>
    </div>
    <div class="b-footer__cols">
      <div class="b-footer__cols__col">
        <div class="b-footer__cols__col__link b-footer__cols__col__link_min">
          <a href="#">О компании</a>
        </div>
        <div class="b-footer__cols__col__link b-footer__cols__col__link_min">
          <a href="#">Партнерская программа</a>
        </div>
        <div class="b-footer__cols__col__link b-footer__cols__col__link_min">
          <a href="#">Подарочные сертификаты</a>
        </div>
        <div class="b-footer__cols__col__link b-footer__cols__col__link_min">
          <a href="#">Вопросы и ответы</a>
        </div>
        <div class="b-footer__cols__col__link b-footer__cols__col__link_min">
          <a href="#">Отзывы</a>
        </div>
        <div class="b-footer__cols__col__link b-footer__cols__col__link_min">
          <a href="#">Реквизиты</a>
        </div>
      </div>
      <div class="b-footer__cols__col">
        <div class="b-footer__cols__col__link b-footer__cols__col__link_min">
          <a href="#">Дополнительные услуги</a>
        </div>
        <div class="b-footer__cols__col__link b-footer__cols__col__link_min">
          <a href="#">Обратная связь</a>
        </div>
      </div>
      <div class="b-footer__cols__col">
        <div class="b-footer__cols__col__link">
          <a href="#">Контакты</a>
        </div>
        {{ current_city.contacts|safe }}
        <br><br>
        <a href="{% url 'contact' %}"><img src="{{ STATIC_URL }}tmp_images/footer_map.png" alt=""></a>
      </div>
      <div class="b-footer__cols__col">
        <div class="b-footer__cols__col__link">
          Режим работы
        </div>
        {{ current_city.work|safe }}
      </div>
      <div class="i-clear"></div>
    </div>
  </div>
</footer>


<!-- Блок выбора города -->
<div id="city_select_block" style="display: none;">
  <div class="i-fancywrap b-fancy__adderss">
    <p class="b-texttitle">Адрес</p>
    <p>{{ current_city.address|safe }}</p>
    <p class="b-texttitle">Контактные данные</p>
    <p>{{ current_city.contacts|safe }}</p>
    <p class="b-texttitle">Часы работы</p>
    <p>{{ current_city.work|safe }}</p>
  </div>
  <img src="{{ STATIC_URL }}images/fancybox_line.png" alt="">
  <div class="i-fancywrap b-cityselect">
    <p class="b-texttitle">Выберите Ваш город</p>
    <p class="b-texttitle">Города с пунктами самовывоза и быстрой доставки</p>
    {% get_all_cities %}
    <div class="i-clear"></div>
  </div>
</div>
<!-- /Блок выбора города -->

<div id="gallery_example" style="display: none">
  заглушка, в примере нет js запроса, а в старом коде написано на angularjs а в этом проекте его нет. потом напишу на jquery запрос
</div>
{% block javascript %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}fancybox/jquery.fancybox.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/common.js"></script>
  <!--[if lte IE 8]>
		<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/iefix.js"></script>
		<![endif]-->
{% endblock %}
</body>
</html>