<div class="b-catalog__left__title">Каталог</div>
<ul class="b-catalog__menu">
    {% for category, subcategories in structure.items %}
	<li class="b-catalog__menu__item">
		<a href="" class="b-catalog__menu__link b-catalog__menu__link_sub">
            {{ category.get_title }}{% if subcategories %}
                <span class="b-catalog__menu__arrow"></span>
            {% endif %}
        </a>
        {% if subcategories %}
            <ul class="b-catalog__menu__submenu">
                {% for subcategory in subcategories %}
                <li>
                    <a href="{% url "apps.catalog.views.filter_by_category" item_model.TYPE %}?category={{ subcategory.id }}">{{ subcategory.get_title }}{% if subcategory.is_new %}<span class="b-catalog__menu__new"></span>{% endif %}</a>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
	</li>
    {% endfor %}
</ul>