{% extends 'base.html' %}
{% load catalog_tags %}
{% load thumbnail %}

{% block content_head %}
  <div>Галерея популярной продукции. Примеры в интерьерах.</div>
  <div class="b-breadcrumbs">
    <a href="/">Главная</a>
  </div>
{% endblock %}

{% block header %}
  <div class="b-mainheader">
    <header class="b-header">
      <a href="/" class="b-header__logo"></a>
      <div class="b-header__title">Интернет-магазин декоративных настенных покрытий</div>
      <div class="b-header__links">
        <span class="b-header__link b-header__link_phone"><span></span>(343) 380-05-80</span>
        <a href="#" class="b-header__link b-header__link_city" id="select_city_link"><span></span>Нижний Новгород<b></b></a>
        <!-- <a href="#" class="b-header__link b-header__link_enter"><span></span>Вход</a> -->
        <a href="#" class="b-header__link b-header__link_bookmark"><span></span>Избранное</a>
        <a href="#" class="b-header__link b-header__link_cart"><span></span>Корзина</a>
      </div>
      <a href="#" class="b-header__sale"></a>
      <div class="i-clear"></div>
    </header>
    <nav class="b-menu b-menu_main">
      {% main_menu %}
    </nav>
    {% main_banners %}
  </div>
{% endblock %}

{% block content %}
  <div>
    {% for good in goods %}
      <div class="b-good b-good_mainpage">
        <a href="{{ good.get_url }}" class="b-good__image" link="{% url "apps.catalog.api.item_card" good.TYPE good.id %}">
          <div class="b-good__image__info"></div>
          <div class="i-good__image">
            {% thumbnail good.image "234x170" crop="center" as im %}
              <img src="{{ im.url }}" alt="{{ good.get_title }}" width="234" height="170">
            {% endthumbnail %}
          </div>
        </a>
        <div class="i-good__title">
          <div class="b-good__title">
            {% get_item_title_at_main_page good %} {{ good.get_article }}
            от 00000р. за м&sup2;</b>
          </div>
        </div>
        <div class="b-good__buttons">
          <a href="{% url 'catalog_by_slug' good.TYPE %}" class="b-button"><span class="b-button__catalog"></span> Каталог</a>
          <a href="{{ good.get_url }}" class="b-button"><span class="b-button__cart"></span> Заказать</a>
        </div>
      </div>
    {% endfor %}

    <div class="i-clear"></div>
  </div>
{% endblock %}