<div class="b-slider">
	<div class="b-slider__title">
		Возможно, вам понравится:
	</div>
	<div class="b-slider__wrap">
		<a href="#" class="b-slider__left"></a>
		<a href="#" class="b-slider__right"></a>
		<div class="b-slider__list">
			<div class="i-slider__list">
				{% for good in 'xxxxxxxx' %}
				<div class="b-good b-good_slider">
					<a class="b-good__image" href="#">
						<div class="b-good__image__cart"></div>
						<div class="i-good__image">
							<img alt="" src="/static/tmp_images/good_photo1.png">
						</div>
					</a>
					<div class="i-good__title">
						<div class="b-good__title">
							ID0000{{ forloop.counter }} Фреска<br>
							<b>Цена 0000р. за м2</b><br>							
							<b class="b-gallery__green">в наличии</b>
							<span class="b-gallery__sale"></span>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>